.container
  #fila0.row
    #GRPM_El4.h1.col-sm-10
      h1 Emisión recibo de apuntes
  #fila1.row
    #GRPM_El600.panel.payLoad.droppable.col-sm-12
      #fila61.row
        #GRPM_El728.h2.col-sm-8
          h2 Datos del recibo
      #fila62.row
        #GRPM_El892.well.payLoad.droppable.col-sm-12
          #fila102.row
            #GRPM_El893.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila112.row
                #GRPM_El894.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila121.row
                    #GRPM_El895.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.needMN F. emisión:
                    #GRPM_El896.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.required(tabindex='0', value='05/05/2017', maxlength='10', autocomplete='off', type='text')
                #GRPM_El900.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila123.row
                    #GRPM_El901.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold F. desde efecto:
                    #GRPM_El902.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.textOut(tabindex='0', value='01/05/2017', maxlength='10', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El903.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila124.row
                    #GRPM_El904.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold F. hasta efecto:
                    #GRPM_El905.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.textOut(tabindex='0', value='31/05/2017', maxlength='10', autocomplete='off', readonly='readonly', type='text')
              #fila113.row
                #GRPM_El906.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila125.row
                    #GRPM_El907.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Estado:
                    #GRPM_El908.inputText.form-group.col-sm-3
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Confirmado', autocomplete='off', type='text')
                #GRPM_El909.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila127.row
                    #GRPM_El910.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Origen:
                    #GRPM_El911.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Nueva Producción
                        option Cartera
                        option Suplemento
                        option Renovación
                        option Coaseguro
                        option Especial
                #GRPM_El897.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila122.row
                    #GRPM_El899.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold N. apuntes:
                    #GRPM_El898.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='5', autocomplete='off', type='text')
              #fila114.row
                #GRPM_El912.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila126.row
                    #GRPM_El913.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Negocio:
                    #GRPM_El914.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Colectivo
                        option Individual
              #fila115.row
                #GRPM_El1036.jade.textarea.payLoad.droppable.form-group.simpleInput.col-sm-12
                  #fila128.row
                    #GRPM_El1034.inputLabel.text-right.col-sm-2
                      label
                        p.labelText.textLoad Observaciones:
                    #GRPM_El1035.inputTextarea.form-group.col-sm-10
                      textarea.payLoad.inlineEditArea.valueLoad.form-control(tabindex='0', rows='5')
              #fila116.row
              #fila117.row
              #fila118.row
              #fila119.row
              #fila120.row
          #fila103.row
          #fila104.row
          #fila105.row
          #fila106.row
          #fila107.row
          #fila108.row
          #fila109.row
          #fila110.row
          #fila111.row
      #fila63.row
      #fila64.row
      #fila65.row
      #fila66.row
      #fila67.row
      #fila68.row
      #fila69.row
      #fila70.row
      #fila71.row
      #fila72.row
      #fila73.row
      #fila74.row
        #GRPM_El763.h2.col-sm-8
          h2 Datos del pagador
      #fila75.row
        #GRPM_El915.well.payLoad.droppable.col-sm-12
          #fila156.row
            #GRPM_El916.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila170.row
                #GRPM_El926.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila184.row
                    #GRPM_El927.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Póliza:
                    #GRPM_El928.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0007000014', autocomplete='off', type='text')
                #GRPM_El929.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila205.row
                    #GRPM_El930.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Subpóliza/grupo:
                    #GRPM_El931.inputText.form-group.col-sm-3
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='000000', autocomplete='off', type='text')
                #GRPM_El932.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila206.row
                    #GRPM_El933.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Certificado:
                    #GRPM_El934.inputText.form-group.col-sm-6
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0000', autocomplete='off', type='text')
              #fila171.row
                #GRPM_El935.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila207.row
                    #GRPM_El936.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold NIF/CIF:
                    #GRPM_El937.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='00000000X', autocomplete='off', type='text')
              #fila172.row
                #GRPM_El923.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila194.row
                    #GRPM_El925.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Nombre/Razón social:
                    #GRPM_El924.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Francisco', autocomplete='off', type='text')
                #GRPM_El920.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila185.row
                    #GRPM_El921.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold
                          | Tipo de domicilio:
                    #GRPM_El922.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Bancario', autocomplete='off', type='text')
                #GRPM_El917.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila195.row
                    #GRPM_El918.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Primer apellido:
                    #GRPM_El919.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Pérez', autocomplete='off', type='text')
                #GRPM_El972.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila196.row
                    #GRPM_El973.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Segundo apellido:
                    #GRPM_El974.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Gómez', autocomplete='off', type='text')
              #fila173.row
                #GRPM_El1114.jade.cuentaC.payLoad.droppable.form-group.simpleInput.jadeOut.col-sm-8
                  #fila204.row
                    #GRPM_El1106.inputLabel.text-right.col-sm-3
                      label
                        p.labelText.textLoad.textOutBold Número de cuenta:
                    #GRPM_El1107.inputLabel.textFormJade.iban1.col-sm-1
                      label
                        p.labelText.textLoad ES
                    #GRPM_El1108.inputText.form-group.iban2.posIban1.col-sm-1(style=' : 1;   40px;   0px;  208px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban2.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='2', tabindex='0', value='23', autocomplete='off', readonly='readonly')
                    #GRPM_El1109.inputText.form-group.iban4.posIban2.col-sm-1(style=' : 1;   70px;   0px;  238px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban4.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='4', tabindex='0', value='2080', autocomplete='off', readonly='readonly')
                    #GRPM_El1110.inputText.form-group.iban4.posIban3.col-sm-1(style=' : 1;   70px;   0px;  281px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban4.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='4', tabindex='0', value='0000', autocomplete='off', readonly='readonly')
                    #GRPM_El1111.inputText.form-group.iban4.posIban4.col-sm-1(style=' : 1;   70px;   0px;  325px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban4.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='4', tabindex='0', value='7130', autocomplete='off', readonly='readonly')
                    #GRPM_El1112.inputText.form-group.iban4.posIban5.col-sm-1(style=' : 1;   70px;   0px;  372px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban4.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='4', tabindex='0', value='0000', autocomplete='off', readonly='readonly')
                    #GRPM_El1113.inputText.form-group.iban4.posIban6.col-sm-1(style=' : 1;   70px;   0px;  406px;   absolute;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.iban4.textOut(onkeydown='if ( (event.keyCode < 45 || event.keyCode > 57) && event.keyCode != 8 && event.keyCode !=9 && event.keyCode !=97 && event.keyCode !=98 && event.keyCode !=99 && event.keyCode !=100 && event.keyCode !=101 && event.keyCode !=102 && event.keyCode !=103 && event.keyCode !=104 && event.keyCode !=105 && event.keyCode !=96){return false;}', maxlength='4', tabindex='0', value='4015', autocomplete='off', readonly='readonly')
              #fila174.row
                #GRPM_El1037.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila186.row
                    #GRPM_El1038.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Tipo de vía:
                    #GRPM_El1039.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Calle', autocomplete='off', type='text')
                #GRPM_El1040.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila187.row
                    #GRPM_El1041.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Dirección:
                    #GRPM_El1042.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Dirección', autocomplete='off', type='text')
                #GRPM_El1043.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila189.row
                    #GRPM_El1044.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Número
                    #GRPM_El1045.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='58', autocomplete='off', type='text')
              #fila175.row
                #GRPM_El1049.jade.payLoad.droppable.form-group.simpleInput.col-sm-8
                  #fila188.row
                    #GRPM_El1050.inputLabel.text-right.col-sm-3
                      label
                        p.labelText.textLoad.textOutBold Resto:
                    #GRPM_El1051.inputText.form-group.col-sm-8
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Resto de dirección', autocomplete='off', type='text')
                #GRPM_El1046.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila190.row
                    #GRPM_El1047.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold País:
                    #GRPM_El1048.inputText.form-group.col-sm-6
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='España', autocomplete='off', type='text')
              #fila176.row
                #GRPM_El1055.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila191.row
                    #GRPM_El1056.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Código postal:
                    #GRPM_El1057.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='28020', autocomplete='off', type='text')
                #GRPM_El1052.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila192.row
                    #GRPM_El1053.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Localidad:
                    #GRPM_El1054.inputText.form-group.col-sm-5(style=' : 1;   121px;   0px;  150px;   absolute;   25px;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Madrid', autocomplete='off', type='text')
                #GRPM_El984.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila193.row
                    #GRPM_El985.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Provincia:
                    #GRPM_El986.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='Madrid', autocomplete='off', type='text')
              #fila177.row
                #GRPM_El1058.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila197.row
                    #GRPM_El1059.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Compañía:
                    #GRPM_El1060.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='10', autocomplete='off', type='text')
                #GRPM_El1070.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila198.row
                    #GRPM_El1071.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Modalidad:
                    #GRPM_El1072.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='800', autocomplete='off', type='text')
                #GRPM_El1061.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila199.row
                    #GRPM_El1062.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Moneda:
                    #GRPM_El1063.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='EUR', autocomplete='off', type='text')
              #fila178.row
                #GRPM_El1073.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila200.row
                    #GRPM_El1074.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Gestora cobro:
                    #GRPM_El1075.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='85', autocomplete='off', type='text')
                #GRPM_El1064.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila201.row
                    #GRPM_El1065.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Canal distribución:
                    #GRPM_El1066.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='100', autocomplete='off', type='text')
                #GRPM_El1067.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila202.row
                    #GRPM_El1068.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Canal gestión:
                    #GRPM_El1069.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='2354', autocomplete='off', type='text')
              #fila179.row
                #GRPM_El1076.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila203.row
                    #GRPM_El1077.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Coaseguro:
                    #GRPM_El1078.inputText.form-group.col-sm-4
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='No', autocomplete='off', type='text')
              #fila180.row
              #fila181.row
              #fila182.row
              #fila183.row
          #fila157.row
          #fila158.row
          #fila159.row
          #fila160.row
          #fila161.row
          #fila162.row
          #fila163.row
          #fila164.row
          #fila165.row
          #fila166.row
          #fila167.row
          #fila168.row
          #fila169.row
      #fila76.row
      #fila77.row
      #fila78.row
      #fila79.row
      #fila80.row
      #fila81.row
      #fila82.row
      #fila83.row
      #fila84.row
      #fila85.row
      #fila86.row
      #fila87.row
      #fila88.row
      #fila89.row
      #fila90.row
        #GRPM_El727.h2.col-sm-10
          h2 Datos de emisión
      #fila91.row
        #GRPM_El884.well.payLoad.droppable.col-sm-12
          #fila150.row
            #GRPM_El885.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila152.row
                #GRPM_El886.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila154.row
                    #GRPM_El887.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.needMN Diferimiento (días):
                    #GRPM_El888.inputText.form-group.col-sm-3
                      input.payLoad.inlineEdit.valueLoad.form-control.required(tabindex='0', autocomplete='off', value='', type='text')
                #GRPM_El889.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila155.row
                    #GRPM_El890.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.needMN Soporte:
                    #GRPM_El891.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0')
                        option Papel
                        option Gestion Bancaria
              #fila153.row
          #fila151.row
      #fila92.row
      #fila93.row
        #GRPM_El864.h2.col-sm-10
          h2 Datos económicos
      #fila94.row
        #GRPM_El990.well.payLoad.droppable.col-sm-12
          #fila129.row
            #GRPM_El991.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila135.row
                #GRPM_El992.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila140.row
                    #GRPM_El993.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Importe total:
                    #GRPM_El994.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='1.020,00', autocomplete='off', type='text')
              #fila136.row
                #GRPM_El995.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila149.row
                    #GRPM_El996.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Reajuste:
                    #GRPM_El997.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='20,00', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El998.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila148.row
                    #GRPM_El999.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Anticipo:
                    #GRPM_El1000.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='0,00', readonly='readonly', type='text')
                #GRPM_El1025.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila147.row
                    #GRPM_El1026.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Recobro:
                    #GRPM_El1027.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='0,00', readonly='readonly', type='text')
              #fila137.row
                #GRPM_El1001.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila146.row
                    #GRPM_El1002.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Primas garantías:
                    #GRPM_El1003.inputText.form-group.col-sm-5(style=' : 1;   120px;   0px;  147px;   absolute;   25px;', proces='do')
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='1.000,00', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El1004.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila145.row
                    #GRPM_El1005.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Descuentos:
                    #GRPM_El1006.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='0,00', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El1007.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila144.row
                    #GRPM_El1008.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Recargos:
                    #GRPM_El1009.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0,00', autocomplete='off', type='text')
              #fila138.row
                #GRPM_El1010.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila143.row
                    #GRPM_El1011.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold
                          | Impuestos:
                    #GRPM_El1012.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='0,00', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El1016.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila142.row
                    #GRPM_El1017.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold RECCS:
                    #GRPM_El1018.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='0,00', type='text')
                #GRPM_El1013.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila141.row
                    #GRPM_El1014.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold LEACS:
                    #GRPM_El1015.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0,00', autocomplete='off', type='text')
              #fila139.row
          #fila130.row
          #fila131.row
          #fila132.row
          #fila133.row
          #fila134.row
      #fila95.row
      #fila96.row
      #fila97.row
      #fila98.row
      #fila99.row
      #fila100.row
      #fila101.row
  #fila2.row
  #fila3.row
  #fila4.row
  #fila5.row
  #fila6.row
  #fila7.row
  #fila8.row
  #fila9.row
  #fila10.row
  #fila11.row
  #fila12.row
  #fila13.row
  #fila14.row
  #fila15.row
  #fila16.row
  #fila17.row
  #fila18.row
  #fila19.row
  #fila20.row
  #fila21.row
  #fila22.row
  #fila23.row
  #fila24.row
  #fila25.row
  #fila26.row
  #fila27.row
  #fila28.row
  #fila29.row
  #fila30.row
  #fila31.row
  #fila32.row
  #fila33.row
  #fila34.row
  #fila35.row
  #fila36.row
  #fila37.row
  #fila38.row
  #fila39.row
  #fila40.row
  #fila41.row
    #GRPM_El585.MPArea.payLoad.hasWorkingChildren.cabPestana.col-sm-12
      ul.tabSet
        li.tab-title.ng-isolate-scope(idtab='0', onclick='selectTab(this);')
          span.MPAreaTabText.truncate.textLoad(href='#') Datos apuntes
        li#GRPM_El587.MPAreaContainer.pestColapCont.payload.target.droppable.tab_content.setDisplay.workingChildren(idtab='0', style='  relative;   420px;', reocultar='true')
          #fila208.row
            #GRPM_El1021.listElement.exportPercent.configEl.col-sm-12
              .payLoad.oldOlist(name='', tabindex='0')
                .CABD1
                  table#GRPM_El1021CB.tablaListado(numcolumn='8', numfilas='20', tiposelec='LECTURA', pag='false', numfilasalto='250', chkscrollh='true', scrollh='2', l2o_tit='false', cabizq='false', total='false', editd='false', cabdb='false', arrizq='0', arrdch='0', i_busccab='false', style='')
                    thead
                      tr
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Pagador')
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Icono')
                .CABD2.CABAutoScrollY
                  table#GRPM_El1021CB2.tablaListado(style='width: 1300px;')
                    thead
                      tr
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Operación')
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Estado')
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='F. apunte')
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Importe')
                        td
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Reajuste')
                        td.sinBD
                          input.Wselec(type='text', name='GRPM_El1021cab', tabindex='0', value='Tipo')
                .CTD1(style='height: 250px;')
                  table#GRPM_El1021L.tablaListado(style='')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='0007000014/000000/0000')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.C.textOut(type='text', name='GRPM_El1021edicDirect3', value='(warning)')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                .CTD2.AutoScrollY(onscroll='$(this).prev().scrollTop($(this).scrollTop());$(this).prev().prev().scrollLeft($(this).scrollLeft());', style='height: 268px;')
                  table#GRPM_El1021L2.tablaListado(style='width: 1300px;')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='0007000014/000000/25/0000')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='Pendiente')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.C.textOut(type='text', name='GRPM_El1021edicDirect3', value='04/05/2017')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(type='text', name='GRPM_El1021edicDirect3', value='1.000,00')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(type='text', name='GRPM_El1021edicDirect3', value='20,00')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='Manual')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(type='text', name='GRPM_El1021edicDirect3', value='')
          #fila209.row
          #fila210.row
          #fila211.row
          #fila212.row
          #fila213.row
          #fila214.row
          #fila215.row
          #fila216.row
          #fila217.row
          #fila218.row
          #fila219.row
          #fila220.row
        li.tab-title.ng-isolate-scope.selected.active(idtab='1', onclick='selectTab(this);')
          span.MPAreaTabText.truncate.textLoad(href='#') Datos productores
        li#GRPM_El594.MPAreaContainer.pestColapCont.payload.target.droppable.tab_content.setDisplay.workingChildren.enActivo(idtab='1', style='  relative;   420px;', reocultar='false')
          #fila221.row
            #GRPM_El597.listElement.exportPercent.configEl.col-sm-12
              .payLoad.oldOlist(name='', tabindex='0')
                .CAB.CABAutoScrollY
                  table#GRPM_El597CB.tablaListado(numcolumn='4', numfilas='20', tiposelec='LECTURA', pag='false', numfilasalto='250', chkscrollh='false', scrollh='', l2o_tit='false', cabizq='false', total='false', editd='false', cabdb='false', arrizq='0', arrdch='0', i_busccab='false', style='')
                    thead
                      tr
                        td
                          input.Wselec(name='Productorescab', tabindex='0', value='Tipo de intervención', type='text')
                        td
                          input.Wselec(name='Productorescab', tabindex='0', value='Clave', type='text')
                        td
                          input.Wselec(name='Productorescab', tabindex='0', value='Comisión (%)', type='text')
                        td.sinBD
                          input.Wselec(name='Productorescab', tabindex='0', value='Importe (€)', type='text')
                .CT.AutoScrollY(style='height: 250px;')
                  table#ProductoresL.tablaListado(style='')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='AG', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='ProductoresedicDirect3', value='8567', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='ProductoresedicDirect3', value='0,5', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='ProductoresedicDirect3', value='5,10', type='text')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
          #fila222.row
          #fila223.row
          #fila224.row
          #fila225.row
          #fila226.row
          #fila227.row
          #fila228.row
          #fila229.row
          #fila230.row
          #fila231.row
          #fila232.row
  #fila42.row
  #fila43.row
  #fila44.row
  #fila45.row
  #fila46.row
  #fila47.row
  #fila48.row
  #fila49.row
  #fila50.row
  #fila51.row
  #fila52.row
  #fila53.row
  #fila54.row
  #fila55.row
    #GRPM_El881.AltoMaq.whiteSpace.payLoad.droppable.col-sm-11
      #fila233.row
      #fila234.row
  #fila56.row
    #GRPM_El575.btn-group-navigation.ABArea.droppable.exportPercent.col-sm-12
      #fila58.row
        #GRPM_El577.botonContext.btn-group-form.col-sm-1
          button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='back()', tabindex='0', href='', openonwindow='false', messagewindow='advertencia2', textwindow='¿Desea cancelar la emisión del recibo?') Cancelar
        #GRPM_El578.AltoMaq.whiteSpace.payLoad.droppable.col-sm-10
          #fila60.row
        #GRPM_El883.botonContext.resaltado.btn-group-form.col-sm-1
          button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-primary(type='button', tabindex='0', textwindow='¿Desea emitir el recibo?', messagewindow='advertencia2') Aceptar
      #fila59.row
  #fila57.row
