.container.main-container
  #fila0.row
    #GRPM_El4.h1.col-sm-3
      h1 {{title}}
  #fila1.row
    form.altaApunteForm(name='altaApunteForm', novalidate='')
      #GRPM_El763.panel.payLoad.droppable.col-sm-12(ng-init="setForm(altaApunteForm);")
        #fila63.row
          #GRPM_El946.h2.col-sm-11
            h2 @@altaApunte.datosApunte
        #fila64.row
          #GRPM_El945.well.payLoad.droppable.col-sm-12
            #fila90.row
              #GRPM_El947.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                #fila100.row
                  #GRPM_El963.jade.date.payLoad.droppable.form-group.col-sm-4
                    #fila109.row
                      #GRPM_El964.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.fApunte:
                      #GRPM_El965.calendarContainer.form-group.clearfix.col-sm-5
                        label.text-indent(for='dateOfBirth1-date')
                        #fApunte(mp-time-datepicker,
                          , mp-time-datepicker-model="model.fApunte"
                          , mp-time-datepicker-timer="false"
                          , mp-time-datepicker-id="fApunte"
                          , mp-time-datepicker-name="fApunte"
                          , mp-time-datepicker-date-data="{dateFormat: 'dd/MM/yyyy', autoclose: '1', ngChange:'validateCartera()'}"                                            
                          , mp-time-datepicker-disabled="fApunteDisabled"
                          , mp-time-datepicker-required="false"                          
                          , mp-time-datepicker-date-mask="dd/MM/yyyy")


                  #GRPM_El957.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila114.row
                      #GRPM_El958.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad @@altaApunte.cEstado:
                      #GRPM_El959.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5.combo-status-note
                          select.form-control(type="button", id="statesSelect", name="statesSelect", 
                                  mp-select="mp-select" 
                                  mp-select-model="model.cEstado", 
                                  mp-select-options="states.COD_VALOR as states.NOM_VALOR for states in statusList", 
                                  ng-disabled='cEstadoDisabled')


                  #GRPM_El960.jade.multipleCheckbox.payLoad.droppable.form-group.col-sm-4
                    #fila115.row
                      #GRPM_El961.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad @@altaApunte.cRenovacion:
                      #GRPM_El962.inputCheckbox.form-group.checkbox-inline.col-sm-1
                        label
                          input.payLoad( 
                            type='checkbox', 
                            ng-model='model.cRenovacion', 
                            name='cRenovacion', 
                            ng-change="changeRenovacion()",
                            ng-disabled="cRenovacionDisabled")
                          p.textLoad
                #fila101.row
                  #GRPM_El966.jade.date.payLoad.droppable.form-group.col-sm-4
                    #fila110.row
                      #GRPM_El967.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.fFechaDesde:
                      #GRPM_El968.calendarContainer.form-group.clearfix.col-sm-5
                        label.text-indent(for='dateOfBirth1-date')
                        #fFechaDesde(mp-time-datepicker,
                          , mp-time-datepicker-model="model.fFechaDesde"
                          , mp-time-datepicker-timer="false"
                          , mp-time-datepicker-id="fFechaDesde"
                          , mp-time-datepicker-name="fFechaDesde"
                          , mp-time-datepicker-date-data="{dateFormat: 'dd/MM/yyyy', autoclose: '1'}"                                            
                          , mp-time-datepicker-required="true" 
                          , mp-time-datepicker-disabled="altaFormAction == 'updateForm'"                                                 
                          , mp-time-datepicker-date-mask="dd/MM/yyyy")

                  #GRPM_El969.jade.date.payLoad.droppable.form-group.col-sm-4
                    #fila111.row
                      #GRPM_El970.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.fFechaHasta:
                      #GRPM_El971.calendarContainer.form-group.clearfix.col-sm-5
                        label.text-indent(for='dateOfBirth1-date')
                        #fFechaHasta(mp-time-datepicker,
                          , mp-time-datepicker-model="model.fFechaHasta"
                          , mp-time-datepicker-timer="false"
                          , mp-time-datepicker-id="fFechaHasta"
                          , mp-time-datepicker-name="fFechaHasta"
                          , mp-time-datepicker-date-data="{dateFormat: 'dd/MM/yyyy', autoclose: '1'}"                                            
                          , mp-time-datepicker-required="true"
                          , mp-time-datepicker-disabled="altaFormAction == 'updateForm'"                        
                          , mp-time-datepicker-date-mask="dd/MM/yyyy")
                  #GRPM_El954.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila113.row
                      #GRPM_El955.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.cOrigen:
                      #GRPM_El956.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                        .note-dropdown.origenApuntes-dropdown(mp-options-list="select",
                            mp-options-list-model="model.cOrigen",
                            mp-options-list-options="origen.COD_VALOR as origen.NOM_VALOR for origen in origenList",
                            mp-options-list-description-attributes="{id: 'cOrigen', name: 'cOrigen', ngDisabled: 'cOrigenDisabled'}"))
                #fila102.row
                  #GRPM_El972.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila117.row
                      #GRPM_El973.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.cNegocio:
                      #GRPM_El974.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                        .note-dropdown.business-dropdown(mp-options-list="select",
                            mp-options-list-model="model.cNegocio",
                            mp-options-list-options="business.COD_VALOR as business.NOM_VALOR for business in businessList",
                            mp-options-list-code-attributes= "{mpNumber: true, id: 'cNegocio', name: 'cNegocio'}",                            
                            mp-options-list-description-attributes="{id: 'cNegocio', name: 'cNegocio', ngBlur: 'validateCartera()', ngChange: 'changeBusiness()', ngDisabled: 'cNegocioDisabled', ngRequired:'true'}")
                  #GRPM_El948.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila116.row
                      #GRPM_El949.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad @@altaApunte.cTipoApunte:
                      #GRPM_El950.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                        .note-dropdown.type-note-dropdown(mp-options-list="select",
                            mp-options-list-model="model.cTipoApunte",
                            mp-options-list-options="typeNote.COD_VALOR as typeNote.NOM_VALOR for typeNote in typeNoteList",
                            mp-options-list-code-attributes= "{mpNumber: true, id: 'cTipoApunte', name: 'cTipoApunte'}",
                            mp-options-list-description-attributes="{id: 'cTipoApunte', name: 'cTipoApunte', 'disabled':'true'}")
                #fila103.row
                  #GRPM_El984.jade.textarea.payLoad.droppable.form-group.simpleInput.col-sm-12
                    #fila112.row.wrap-alta-textarea
                      #GRPM_El985.inputLabel.text-right.col-sm-2
                        label
                          p.labelText.textLoad.needMN @@altaApunte.gObservaciones:
                      #GRPM_El986.inputTextarea.form-group.col-sm-10
                        textarea.payLoad.inlineEditArea.valueLoad.form-control.required(
                          rows='4', 
                          ng-model='model.gObservaciones',                                                     
                          valid-input="{maxlength: 255}",                                  
                          ng-required='true',
                          id='gObservaciones',
                          name='gObservaciones')
                #fila104.row
                #fila105.row
                #fila106.row
                #fila107.row
                #fila108.row
            #fila91.row
            #fila92.row
            #fila93.row
            #fila94.row
            #fila95.row
            #fila96.row
            #fila97.row
            #fila98.row
            #fila99.row
        #fila65.row
        #fila66.row
        #fila67.row
        #fila68.row
        #fila69.row
        #fila70.row
        #fila71.row
        #fila72.row
        #fila73.row
        #fila74.row
          #GRPM_El1122.h2.col-sm-11
            h2 @@altaApunte.datosPagador
        #fila75.row
        #fila76.row
          #GRPM_El1188.well.payLoad.droppable.col-sm-12
            #fila138.row
              #GRPM_El1189.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                #fila140.row
                  #GRPM_El1190.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila142.row
                      #GRPM_El1191.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.nPagPoliza:
                      #GRPM_El1192.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required(
                          autocomplete='off', 
                          type='text', 
                          ng-model='model.nPagPoliza', 
                          name='nPagPoliza', 
                          ng-keyup='resetListGuarantAndProd()',  
                          ng-disabled='nPagPolizaDisabled',                          
                          ng-blur='blurPagPoliza()',
                          ng-required="true",
                          valid-input="{maxlength: 10, type: 'number'}",
                          max="9999999999"
                        )
                  #GRPM_El1193.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila143.row
                      #GRPM_El1194.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.nPagSubpoliza:
                      #GRPM_El1195.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          autocomplete='off', 
                          type='text',                           
                          name='nPagSubpoliza',
                          ng-disabled='nPagSubpolizaDisabled',
                          ng-model='model.nPagSubpoliza',
                          ng-required="true",
                          valid-input="{maxlength: 7, type: 'number'}",
                          max="9999999"                          
                          )
                  #GRPM_El1196.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila144.row
                      #GRPM_El1197.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.nPagCertificado:
                      #GRPM_El1198.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          autocomplete='off', 
                          type='text',                           
                          ng-required="true",
                          name='nPagCertificado',
                          ng-disabled='nPagCertificadoDisabled',
                          ng-model='model.nPagCertificado',
                          valid-input="{maxlength: 6, type: 'number'}",
                          max="999999"                            
                          )
                #fila141.row
            #fila139.row
        #fila77.row
        #fila78.row
        #fila79.row
          #GRPM_El1208.h2.col-sm-11
            h2 @@altaApunte.datosOperacion
        #fila80.row
        #fila81.row
          #GRPM_El1134.well.payLoad.droppable.col-sm-12
            #fila125.row
              #GRPM_El1135.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                #fila129.row
                  #GRPM_El1145.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila133.row
                      #GRPM_El1146.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.kPoliza:
                      #GRPM_El1147.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          type='text',
                          autocomplete='off',                                                     
                          ng-required='true', 
                          ng-disabled='kPolizaDisabled', 
                          name='kPoliza',
                          valid-input="{maxlength: 10, type: 'number'}",                          
                          ng-model='model.kPoliza')
                  #GRPM_El1148.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila134.row
                      #GRPM_El1149.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.kSubpoliza:
                      #GRPM_El1150.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          autocomplete='off',                           
                          ng-required='true',                            
                          ng-model='model.kSubpoliza', 
                          name='kSubpoliza',
                          ng-blur="validateCartera()",
                          ng-keyup='resetListGuarantAndProd()',                          
                          valid-input="{maxlength: 7, type: 'number'}",
                          ng-disabled='subPolizaCertifDisabled')
                  #GRPM_El1202.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila136.row
                      #GRPM_El1203.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.kSuplemento:
                      #GRPM_El1204.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          autocomplete='off',                           
                          ng-required='true',                            
                          name='kSuplemento',
                          ng-disabled='kSuplementoDisabled',
                          valid-input="{maxlength: 6, type: 'number'}",
                          ng-model='model.kSuplemento')
                #fila130.row
                  #GRPM_El1151.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila135.row
                      #GRPM_El1152.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.kCertificado:
                      #GRPM_El1153.inputText.form-group.col-sm-5
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          autocomplete='off',
                          ng-required='true',   
                          ng-model='model.kCertificado', 
                          name='kCertificado',
                          ng-blur="validateCartera()",
                          ng-keyup='resetListGuarantAndProd()',                          
                          valid-input="{maxlength: 6, type: 'number'}",
                          ng-disabled='subPolizaCertifDisabled')
                  #GRPM_El1205.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila137.row
                      #GRPM_El1206.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.cOperacion:
                      #GRPM_El1207.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                        .note-dropdown.operation-dropdown(mp-options-list="select",
                            mp-options-list-model="model.cOperacion",
                            mp-options-list-options="typeOperation.COD_VALOR as typeOperation.NOM_VALOR for typeOperation in typeOperationList",
                            mp-options-list-code-attributes= "{mpNumber: true, id: 'cOperacion', name: 'cOperacion'}",
                            mp-options-list-description-attributes="{id: 'cOperacion', name: 'cOperacion', ngDisabled: 'cOperacionDisabled'}")
                #fila131.row
                #fila132.row
            #fila126.row
            #fila127.row
            #fila128.row
        #fila82.row
        #fila83.row
        #fila84.row
        #fila85.row
        #fila86.row
          #GRPM_El1035.h2.col-sm-11
            h2 @@altaApunte.datoEmision
        #fila87.row
          #GRPM_El1024.well.payLoad.droppable.col-sm-12
            #fila118.row
              #GRPM_El1025.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                #fila120.row
                  #GRPM_El1026.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                    #fila122.row
                      #GRPM_El1027.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.nDiasDiferemiento:
                      #GRPM_El1028.inputText.form-group.col-sm-3
                        input.payLoad.inlineEdit.valueLoad.form-control.required( 
                          type='text',                           
                          ng-required='true',                           
                          autocomplete='off',                           
                          name='nDiasDiferemiento',
                          valid-input="{maxlength: 3, type: 'number'}",
                          ng-model='model.nDiasDiferemiento')
                  #GRPM_El1029.jade.combo.payLoad.droppable.form-group.col-sm-4
                    #fila123.row
                      #GRPM_El1030.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad.needMN @@altaApunte.cTipoSoporte:
                      #GRPM_El1031.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                        .note-dropdown.type-support-dropdown(mp-options-list="select",
                            mp-options-list-model="model.cTipoSoporte",
                            mp-options-list-options="typeSupport.COD_VALOR as typeSupport.NOM_VALOR for typeSupport in typeSupportList",
                            mp-options-list-code-attributes= "{mpNumber: true, id: 'cTipoSoporte', name: 'cTipoSoporte'}",
                            mp-options-list-description-attributes="{id: 'cTipoSoporte', name: 'cTipoSoporte'}")
                  #GRPM_El1032.jade.multipleCheckbox.payLoad.droppable.form-group.col-sm-4
                    #fila124.row
                      #GRPM_El1033.inputLabel.text-right.col-sm-6
                        label
                          p.labelText.textLoad @@altaApunte.cCobroAutomatico:
                      #GRPM_El1034.inputCheckbox.form-group.checkbox-inline.col-sm-2
                        label
                          input.payLoad( type='checkbox', ng-model='cCobroAutomatico')
                          p.textLoad  
                #fila121.row
            #fila119.row
        #fila88.row
        #fila89.row
  #fila2.row
  #fila3.row
  #fila4.row
  #fila5.row
  #fila6.row
  #fila7.row
  #fila8.row
  #fila9.row
  #fila10.row
  #fila11.row
  #fila12.row
  #fila13.row
  #fila14.row
  #fila15.row
  #fila16.row
  #fila17.row
  #fila18.row
  #fila19.row
  #fila20.row
  #fila21.row
  #fila22.row
  #fila23.row
  #fila24.row
  #fila25.row
  #fila26.row
  #fila27.row
    .col-sm-12.tab-alta-apuntes

      div(tabset)
        div(tab,id="tab-datos-economicos")
          div(tab-heading) @@altaApunte.datosEconomicos
          drv-tab-datos-economicos
        div(tab,id="tab-datos-prod")
          div(tab-heading) @@altaApunte.datosProd
          drv-tab-datos-productor 
  #fila29.row
  #fila30.row
  #fila31.row
  #fila32.row
  #fila33.row
  #fila34.row
  #fila35.row
  #fila36.row
  #fila37.row
  #fila38.row
  #fila39.row
  #fila40.row
  #fila41.row
  #fila42.row
  #fila43.row
  #fila44.row
  #fila45.row
  #fila46.row
  #fila47.row
  #fila48.row
  #fila49.row
  #fila50.row
  #fila51.row
  #fila52.row
  #fila53.row
  #fila54.row
  #fila55.row
  #fila56.row
  #fila57.row
  #fila58.row
    #GRPM_El850.btn-group-navigation.ABArea.droppable.col-sm-12
      #fila60.row
        #GRPM_El1060.botonContext.btn-group-form.pull-left.col-sm-1
          button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='cancelAltaApunte()',  href='', messagewindow='advertencia2', textwindow='¿Desea cancelar la operación?') @@cancelar
        #GRPM_El1059.AltoMaq.whiteSpace.payLoad.droppable.col-sm-10
          #fila62.row
        #GRPM_El1062.botonContext.resaltado.btn-group-form.col-sm-1
          button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-primary(type='button', ng-click='openModalValidation()',  openonwindow='true', windowwidth='770', windowheight='350') @@aceptar
      #fila61.row
  #fila59.row
div(mp-loading='gaiafrontend/img/spinner.gif')
#wrap-alert-notes(mp-alerts)
#end-main-container
