.container
  #fila0.row
    #GRPM_El1201.h1.col-sm-5
      h1 Detalle de apunte
  #fila1.row
    #GRPM_El763.panel.payLoad.droppable.col-sm-12
      #fila125.row
        #GRPM_El946.h2.col-sm-11
          h2 Datos del apunte
      #fila126.row
        #GRPM_El945.well.payLoad.droppable.col-sm-12
          #fila176.row
            #GRPM_El947.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila183.row
                #GRPM_El963.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila190.row
                    #GRPM_El964.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold F. apunte
                    #GRPM_El965.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.textOut(tabindex='0', value='05/05/2017', maxlength='10', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El1067.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila196.row
                    #GRPM_El1068.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Estado:
                    #GRPM_El1069.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Pendiente de Revisar
                        option Emitido
                        option Anulado
                #GRPM_El1060.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila194.row
                    #GRPM_El1061.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Causa:
                    #GRPM_El1062.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='Generación a pasado', type='text')
              #fila184.row
                #GRPM_El966.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila191.row
                    #GRPM_El967.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold F. desde efecto:
                    #GRPM_El968.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.textOut(tabindex='0', value='01/05/2017', maxlength='10', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El969.jade.date.payLoad.droppable.form-group.col-sm-4
                  #fila192.row
                    #GRPM_El970.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold F. hasta efecto:
                    #GRPM_El971.calendarContainer.form-group.clearfix.col-sm-5
                      label.text-indent(for='dateOfBirth1-date')
                      input.payLoad.inlineEdit.valueLoad.date.form-control.textOut(tabindex='0', value='31/05/2017', maxlength='10', autocomplete='off', readonly='readonly', type='text')
                #GRPM_El954.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila195.row
                    #GRPM_El955.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Origen:
                    #GRPM_El956.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Nueva Producción
                        option Cartera
                        option Suplemento
                        option Renovación
                        option Coaseguro
                        option Especial
              #fila185.row
                #GRPM_El972.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila193.row
                    #GRPM_El973.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Negocio:
                    #GRPM_El974.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Colectivo
                        option Individual
                #GRPM_El1070.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila197.row
                    #GRPM_El1071.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Tipo:
                    #GRPM_El1072.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Manual
              #fila186.row
                #GRPM_El984.jade.textarea.payLoad.droppable.form-group.simpleInput.col-sm-12
                  #fila198.row
                    #GRPM_El985.inputLabel.text-right.col-sm-2
                      label
                        p.labelText.textLoad.textOutBold Observaciones:
                    #GRPM_El986.inputTextarea.form-group.col-sm-9
                      textarea.payLoad.inlineEditArea.valueLoad.form-control.required.textOut(tabindex='0', rows='2', readonly='readonly') Apunte creado con fecha anterior al último vencimiento
              #fila187.row
              #fila188.row
              #fila189.row
          #fila177.row
          #fila178.row
          #fila179.row
          #fila180.row
          #fila181.row
          #fila182.row
      #fila127.row
      #fila128.row
      #fila129.row
      #fila130.row
      #fila131.row
      #fila132.row
      #fila133.row
      #fila134.row
      #fila135.row
      #fila136.row
        #GRPM_El1166.h2.col-sm-11
          h2 Datos del pagador
      #fila137.row
        #GRPM_El1145.well.payLoad.droppable.col-sm-12
          #fila149.row
            #GRPM_El1146.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila151.row
                #GRPM_El1157.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila153.row
                    #GRPM_El1158.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Póliza:
                    #GRPM_El1159.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='0007000014', readonly='readonly', type='text')
                #GRPM_El1160.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila154.row
                    #GRPM_El1161.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Subpóliza/grupo:
                    #GRPM_El1162.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='000000', type='text')
                #GRPM_El1163.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila155.row
                    #GRPM_El1164.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Certificado:
                    #GRPM_El1165.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='0000', type='text')
              #fila152.row
          #fila150.row
      #fila138.row
      #fila139.row
      #fila140.row
        #GRPM_El1167.h2.col-sm-11
          h2 Datos de la operación
      #fila141.row
        #GRPM_El1168.well.payLoad.droppable.col-sm-12
          #fila156.row
            #GRPM_El1169.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila160.row
                #GRPM_El1170.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila163.row
                    #GRPM_El1171.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Póliza:
                    #GRPM_El1172.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='0007000014', readonly='readonly', type='text')
                #GRPM_El1173.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila164.row
                    #GRPM_El1174.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Subpóliza/grupo:
                    #GRPM_El1175.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='000000', type='text')
                #GRPM_El1179.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila166.row
                    #GRPM_El1180.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Suplemento:
                    #GRPM_El1181.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='5', readonly='readonly', type='text')
              #fila161.row
                #GRPM_El1176.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila165.row
                    #GRPM_El1177.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Certificado:
                    #GRPM_El1178.inputText.form-group.col-sm-5
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='0000', type='text')
                #GRPM_El1182.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila167.row
                    #GRPM_El1183.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Tipo de operación:
                    #GRPM_El1184.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-5
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Suplemento
                        option Anulación
              #fila162.row
          #fila157.row
          #fila158.row
          #fila159.row
      #fila142.row
      #fila143.row
      #fila144.row
      #fila145.row
        #GRPM_El1035.h2.col-sm-11
          h2 Datos de emisión
      #fila146.row
        #GRPM_El1024.well.payLoad.droppable.col-sm-12
          #fila168.row
            #GRPM_El1025.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
              #fila170.row
                #GRPM_El1026.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                  #fila172.row
                    #GRPM_El1027.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Diferimiento (días):
                    #GRPM_El1028.inputText.form-group.col-sm-3
                      input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='15', readonly='readonly', type='text')
                #GRPM_El1029.jade.combo.payLoad.droppable.form-group.col-sm-4
                  #fila173.row
                    #GRPM_El1030.inputLabel.text-right.col-sm-6
                      label
                        p.labelText.textLoad.textOutBold Soporte:
                    #GRPM_El1031.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                      select.payLoad.form-control.select.ng-scope.ng-dirty.ng-valid.ng-valid-required.customSelect.combobox.required.textOut(data-delay='100', data-html='1', style='-moz-appearance: none; -webkit-appearance: none; appearance: none;', tabindex='0', readonly='readonly')
                        option Papel
                        option Gestion Bancaria
                #GRPM_El1144.jade.payLoad.droppable.form-group.simpleInput.col-sm-2
                  #fila175.row
                    #GRPM_El1142.inputLabel.text-right.col-sm-12
                      label
                        p.labelText.textLoad.textOutBold Cobro automático:
                #GRPM_El1032.jade.multipleCheckbox.payLoad.droppable.form-group.col-sm-2
                  #fila174.row
                    #GRPM_El1034.inputCheckbox.form-group.checkbox-inline.col-sm-4
                      label
                        input.payLoad.dis(tabindex='0', disabled='', readonly='readonly', type='checkbox')
                        p.textLoad  
              #fila171.row
          #fila169.row
      #fila147.row
      #fila148.row
  #fila2.row
  #fila3.row
  #fila4.row
  #fila5.row
  #fila6.row
  #fila7.row
  #fila8.row
  #fila9.row
  #fila10.row
  #fila11.row
  #fila12.row
  #fila13.row
  #fila14.row
  #fila15.row
  #fila16.row
  #fila17.row
  #fila18.row
  #fila19.row
  #fila20.row
  #fila21.row
  #fila22.row
  #fila23.row
  #fila24.row
  #fila25.row
  #fila26.row
    #GRPM_El857.MPArea.payLoad.hasWorkingChildren.cabPestana.col-sm-12
      ul.tabSet
        li.tab-title.ng-isolate-scope.selected.active(idtab='0', onclick='selectTab(this);')
          span.MPAreaTabText.truncate.textLoad(href='#') Datos económicos
        li#GRPM_El859.MPAreaContainer.pestColapCont.payload.target.droppable.tab_content.setDisplay.workingChildren.enActivo(idtab='0', style='  relative;   650px;   981px;', reocultar='false')
          #fila58.row
            #GRPM_El1140.h2.col-sm-9
              h2 Importes totalizados
          #fila59.row
            #GRPM_El1106.well.payLoad.droppable.col-sm-12
              #fila77.row
                #GRPM_El1108.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                  #fila110.row
                    #GRPM_El1109.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila115.row
                        #GRPM_El1110.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Importe total:
                        #GRPM_El1111.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='1.100,00', autocomplete='off', type='text')
                  #fila111.row
                    #GRPM_El1112.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila124.row
                        #GRPM_El1113.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Reajuste:
                        #GRPM_El1114.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='0,00', autocomplete='off', readonly='readonly', type='text')
                    #GRPM_El1188.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila123.row
                        #GRPM_El1190.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Recobro:
                        #GRPM_El1189.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0,00', autocomplete='off', type='text')
                    #GRPM_El1115.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila122.row
                        #GRPM_El1116.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Anticipo:
                        #GRPM_El1117.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', value='0,00', readonly='readonly', type='text')
                  #fila112.row
                    #GRPM_El1118.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila121.row
                        #GRPM_El1119.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Primas garantías:
                        #GRPM_El1120.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='0,00', autocomplete='off', readonly='readonly', type='text')
                    #GRPM_El1121.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila116.row
                        #GRPM_El1122.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Descuentos:
                        #GRPM_El1123.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='-50,00', autocomplete='off', readonly='readonly', type='text')
                    #GRPM_El1124.jade.payLoad.droppable.form-group.simpleInput.col-sm-
                      #fila117.row
                        #GRPM_El1125.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold Recargos:
                        #GRPM_El1126.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0,00', autocomplete='off', type='text')
                  #fila113.row
                    #GRPM_El1127.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila120.row
                        #GRPM_El1128.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold
                              | Impuestos:
                        #GRPM_El1129.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', value='50,00', autocomplete='off', readonly='readonly', type='text')
                    #GRPM_El1133.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila119.row
                        #GRPM_El1134.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold RECCS:
                        #GRPM_El1135.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', autocomplete='off', readonly='readonly', value='0,00', type='text')
                    #GRPM_El1130.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                      #fila118.row
                        #GRPM_El1131.inputLabel.text-right.col-sm-6
                          label
                            p.labelText.textLoad.textOutBold LEACS:
                        #GRPM_El1132.inputText.form-group.col-sm-5
                          input.payLoad.inlineEdit.valueLoad.form-control.textOut(tabindex='0', readonly='readonly', value='0,00', autocomplete='off', type='text')
                  #fila114.row
              #fila78.row
              #fila79.row
              #fila80.row
              #fila81.row
              #fila82.row
          #fila60.row
          #fila61.row
          #fila62.row
          #fila63.row
          #fila64.row
          #fila65.row
          #fila66.row
            #GRPM_El1141.h2.col-sm-9
              h2 Importes por garantía
          #fila67.row
            #GRPM_El1104.listElement.exportPercent.configEl.col-sm-12
              .payLoad.oldOlist(name='', tabindex='0')
                .CABD1
                  table#GRPM_El1104CB.tablaListado(numcolumn='10', numfilas='20', tiposelec='LECTURA', pag='false', numfilasalto='250', chkscrollh='true', scrollh='2', l2o_tit='false', cabizq='false', total='false', editd='false', cabdb='false', arrizq='0', arrdch='0', i_busccab='false', style='')
                    thead
                      tr
                        td(style='  9.5%;')
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Identificador', type='text')
                        td(style='  9.5%;')
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Total', type='text')
                .CABD2.CABAutoScrollY
                  table#GRPM_El800CB2.tablaListado(style='width: 1200px;')
                    thead
                      tr
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Prima', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Descuento', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Recargo pago fraccionado', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='RECCS', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Recargo RECCS', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='LEACS', type='text')
                        td
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Recargo LEACS', type='text')
                        td.sinBD
                          input.Wselec(name='GRPM_El800cab', tabindex='0', value='Impuestos', type='text')
                .CTD1(style='height: 250px;')
                  table#GRPM_El800L.tablaListado(style='')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='25', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='550,00', type='text')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='32', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='550,00', type='text')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                .CTD2.AutoScrollY(onscroll='$(this).prev().scrollTop($(this).scrollTop());$(this).prev().prev().scrollLeft($(this).scrollLeft());', style='height: 268px;')
                  table#GRPM_El800L2.tablaListado(style='width: 1200px;')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='550,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='-25,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='25,00', type='text')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='550,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='-25,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='0,00', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='GRPM_El800edicDirect3', value='25,00', type='text')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='GRPM_El800edicDirect3', value='', type='text')
          #fila68.row
          #fila69.row
          #fila70.row
          #fila71.row
          #fila72.row
          #fila73.row
          #fila74.row
          #fila75.row
          #fila76.row
        li.tab-title.ng-isolate-scope(idtab='1', onclick='selectTab(this);')
          span.MPAreaTabText.truncate.textLoad(href='#') Datos productores
        li#GRPM_El862.MPAreaContainer.pestColapCont.payload.target.droppable.tab_content.setDisplay.workingChildren(idtab='1', style='  relative;   650px;', reocultar='true')
          #fila83.row
            #GRPM_El874.listElement.configEl.col-sm-12
              .payLoad.oldOlist(name='', tabindex='0')
                .CAB.CABAutoScrollY
                  table#GRPM_El874CB.tablaListado(numcolumn='3', numfilas='20', tiposelec='LECTURA', pag='false', numfilasalto='250', chkscrollh='false', scrollh='', l2o_tit='false', cabizq='false', total='false', editd='false', cabdb='false', arrizq='0', arrdch='0', i_busccab='false', style='')
                    thead
                      tr
                        td
                          input.Wselec(name='Productorescab', tabindex='0', value='Tipo de intervención', type='text')
                        td
                          input.Wselec(name='Productorescab', tabindex='0', value='Comisión (%)', type='text')
                        td.sinBD
                          input.Wselec(name='Productorescab', tabindex='0', value='Importe comisión (€)', type='text')
                .CT.AutoScrollY(style='height: 250px;')
                  table#GRPM_El874CB.tablaListado(style='')
                    tbody
                      tr.Fila(indice='0')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='AG', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='ProductoresedicDirect3', value='0,5', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.D.textOut(name='ProductoresedicDirect3', value='5,50', type='text')
                      tr.Fila.Impar(indice='1')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='2')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='3')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='4')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='5')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='6')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='7')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='8')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='9')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='10')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='11')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='12')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='13')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='14')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='15')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='16')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='17')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila(indice='18')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                      tr.Fila.Impar(indice='19')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
                        td.sinBD(onclick='seleccionarDoble(this.parentNode,event);')
                          input.W80.textOut(name='ProductoresedicDirect3', value='', type='text')
          #fila84.row
          #fila85.row
          #fila86.row
          #fila87.row
          #fila88.row
          #fila89.row
          #fila90.row
          #fila91.row
          #fila92.row
          #fila93.row
          #fila94.row
          #fila95.row
          #fila96.row
          #fila97.row
          #fila98.row
          #fila99.row
          #fila100.row
          #fila101.row
          #fila102.row
          #fila103.row
  #fila27.row
  #fila28.row
  #fila29.row
  #fila30.row
  #fila31.row
  #fila32.row
  #fila33.row
  #fila34.row
  #fila35.row
  #fila36.row
  #fila37.row
  #fila38.row
  #fila39.row
  #fila40.row
  #fila41.row
  #fila42.row
  #fila43.row
  #fila44.row
  #fila45.row
  #fila46.row
  #fila47.row
  #fila48.row
  #fila49.row
  #fila50.row
  #fila51.row
  #fila52.row
  #fila53.row
  #fila54.row
    #GRPM_El850.btn-group-navigation.ABArea.droppable.col-sm-12
      #fila56.row
        #GRPM_El851.botonContext.btn-group-form.pull-left.col-sm-1
          button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='back()', tabindex='0', href='') Volver
      #fila57.row
  #fila55.row
