#fila3.row
  form(name='noteSearchForm', novalidate='')
    #GRPM_El145.panel.payLoad.droppable.col-sm-12
        #fila30.row
            #GRPM_El147.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
                #fila44.row
                    #GRPM_El151.jade.combo.payLoad.droppable.form-group.col-sm-12
                        #fila52.row
                            #GRPM_El152.inputLabel.text-right.col-sm-2
                                label
                                    p.labelText.textLoad.needMN @@busquedaApuntes.compania:
                            #GRPM_El153.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-9
                              .note-dropdown(mp-options-list="select",
                                  mp-options-list-model="model.cCompania",
                                  mp-options-list-options="company.cCompania as company.gDescripcion for company in companiesOptions",
                                  mp-options-list-description-attributes="{id: 'cCompania', name: 'cCompania', required: true}"))  

                #fila45.row
                    #GRPM_El266.jade.combo.payLoad.droppable.form-group.col-sm-4
                        #fila59.row
                            #GRPM_El267.inputLabel.text-right.col-sm-6
                                label
                                    p.labelText.textLoad.needMN @@busquedaApuntes.negocio:
                            #GRPM_El268.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                              .note-dropdown.business-dropdown(mp-options-list="select",
                                  mp-options-list-model="model.cNegocio",
                                  mp-options-list-options="business.COD_VALOR as business.NOM_VALOR for business in businessOptions",
                                  mp-options-list-code-attributes= "{mpNumber: true, id: 'cNegocio', name: 'cNegocio', ngChange: 'onChangeBusiness()'}",
                                  mp-options-list-description-attributes="{id: 'cNegocio', name: 'cNegocio', ngChange: 'onChangeBusiness()'}")                                      

                    #GRPM_El154.jade.combo.payLoad.droppable.form-group.col-sm-4
                        #fila57.row
                            #GRPM_El155.inputLabel.text-right.col-sm-5
                                label
                                    p.labelText.textLoad @@busquedaApuntes.estado:
                            #GRPM_El156.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6.combo-status-note
                                select.form-control(type="button", id="statesSelect", name="statesSelect", 
                                        mp-select="mp-select" 
                                        mp-select-model="model.listaEstados", 
                                        mp-select-options="states.COD_VALOR as states.NOM_VALOR for states in opcionesEstados", 
                                        mp-select-config="{multiple: 1}",
                                        mp-select-attributes="{ngChange: 'onChangeState()'}")                                      
                    #GRPM_El269.jade.combo.payLoad.droppable.form-group.col-sm-4
                        #fila55.row
                            #GRPM_El271.inputLabel.text-right.col-sm-3
                                label
                                  p.labelText.textLoad @@busquedaApuntes.situacion:
                            #GRPM_El270.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                                .note-dropdown(mp-options-list="select",
                                  mp-options-list-model="model.cSituacion",
                                  mp-options-list-description-attributes="{ngDisabled: 'disabledSituacion'}",
                                  mp-options-list-options="situation.COD_VALOR as situation.NOM_VALOR for situation in situationOptions")                                                                          
                                    
                #fila46.row
                    #GRPM_El163.jade.date.payLoad.droppable.form-group.col-sm-4
                        #fila56.row
                            #GRPM_El164.inputLabel.text-right.col-sm-6
                                label
                                    p.labelText.textLoad @@busquedaApuntes.fApunteDesde:
                            #GRPM_El165.calendarContainer.form-group.clearfix.col-sm-6
                                label.text-indent(for='fApunteDesde')
                                #fromNoteDate(mp-time-datepicker,
                                        , mp-time-datepicker-model="model.fApunteDesde"
                                        , mp-time-datepicker-timer="false"
                                        , mp-time-datepicker-id="fApunteDesde"
                                        , mp-time-datepicker-name="fApunteDesde"
                                        , mp-time-datepicker-date-data="{dateFormat: 'dd/MM/yyyy', autoclose: '1'}"                                            
                                        , mp-time-datepicker-required="true"                                        
                                        , mp-time-datepicker-date-mask="dd/MM/yyyy")

                    #GRPM_El166.jade.date.payLoad.droppable.form-group.col-sm-4
                        #fila58.row
                            #GRPM_El167.inputLabel.text-right.col-sm-5
                                label
                                    p.labelText.textLoad @@busquedaApuntes.fApunteHasta:
                            #GRPM_El168.calendarContainer.form-group.clearfix.col-sm-6
                                label.text-indent(for='fApunteHasta')
                                #toNoteDate(mp-time-datepicker,
                                        , mp-time-datepicker-model="model.fApunteHasta"
                                        , mp-time-datepicker-timer="false"
                                        , mp-time-datepicker-id="fApunteHasta"
                                        , mp-time-datepicker-name="fApunteHasta"
                                        , mp-time-datepicker-date-data="{dateFormat: 'dd/MM/yyyy', autoclose: '1'}"                                            
                                        , mp-time-datepicker-required="true"                                                                                    
                                        , mp-time-datepicker-date-mask="dd/MM/yyyy")

                #fila47.row
                    #GRPM_El231.jade.multipleRadio.payLoad.droppable.form-group.col-sm-4
                        #fila61.row
                            #GRPM_El232.inputLabel.text-right.col-sm-6
                                label
                                    p.labelText.textLoad(data-lectura='') @@busquedaApuntes.busquedaPor:
                            #GRPM_El233.inputRadio.form-group.radio-inline.col-sm-3
                                label
                                    input.payLoad(ng-model='model.busquedaPor', checked='checked',name='optionsRadios2', value='pagador',  tabindex='0', type='radio', ng-change='changeBusquedaPor()')
                                    p.textLoad @@busquedaApuntes.pagador
                            #GRPM_El234.inputRadio.form-group.radio-inline.col-sm-3
                                label
                                    input.payLoad(ng-model='model.busquedaPor',name='optionsRadios2', value='operacion', tabindex='0', type='radio', ng-change='changeBusquedaPor()')
                                    p.textLoad @@busquedaApuntes.operacion
                #fila48.row
                #fila49.row
                    #GRPM_El235.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                        #fila53.row
                            #GRPM_El236.inputLabel.text-right.col-sm-6
                                label
                                    p.labelText.textLoad @@busquedaApuntes.poliza:
                            #GRPM_El237.inputText.form-group.col-sm-6
                                input.payLoad.inlineEdit.valueLoad.form-control(
                                  ng-model='model.kPoliza',                                   
                                  name='kPoliza', 
                                  id='kPoliza', 
                                  tabindex='0',                                   
                                  valid-input="{maxlength: 10, type: 'number'}"                                  
                                  ng-blur="validatePoliza()")
                    #GRPM_El238.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                        #fila60.row
                            #GRPM_El239.inputLabel.text-right.col-sm-5
                                label
                                    p.labelText.textLoad @@busquedaApuntes.subpolizaGrupo:
                            #GRPM_El240.inputText.form-group.col-sm-6
                                input.payLoad.inlineEdit.valueLoad.form-control(
                                  ng-model='model.kSubpoliza', 
                                  ng-blur='validateSubPoliza()', 
                                  tabindex='0',                                   
                                  valid-input="{maxlength: 7, type: 'number'}"
                                  ng-disabled='model.kPoliza === null || model.cNegocio ==="IN"')
                    #GRPM_El244.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                        #fila62.row
                            #GRPM_El245.inputLabel.text-right.col-sm-3
                                label
                                    p.labelText.textLoad @@busquedaApuntes.suplemento:
                            #GRPM_El246.inputText.form-group.col-sm-6
                                input.payLoad.inlineEdit.valueLoad.form-control(
                                  ng-model='model.kSuplemento', 
                                  tabindex='0', 
                                  valid-input="{maxlength: 6, type: 'number'}"
                                  ng-disabled='disabledSuplemento')
                #fila50.row
                    #GRPM_El241.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
                        #fila54.row
                            #GRPM_El242.inputLabel.text-right.col-sm-6
                                label
                                    p.labelText.textLoad @@busquedaApuntes.certificado:
                            #GRPM_El243.inputText.form-group.col-sm-6
                                input.payLoad.inlineEdit.valueLoad.form-control(
                                  ng-model='model.kCertificado',
                                  tabindex='0', 
                                  valid-input="{maxlength: 6, type: 'number'}"
                                  ng-disabled='model.kSubpoliza === null || model.kPoliza === null || model.cNegocio ==="IN"')
                #fila51.row
        #fila31.row
        #fila32.row
        #fila33.row
        #fila34.row
        #fila35.row
        #fila36.row
        #fila37.row
        #fila38.row
        #fila39.row
        #fila40.row
            #GRPM_El182.AltoMaq.whiteSpace.payLoad.droppable.col-sm-10
                #fila43.row
            #GRPM_El181.botonContext.btn-group-form.col-sm-1
                button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='clean()', tabindex='0') @@limpiar
            #GRPM_El183.botonContext.btn-group-form.col-sm-1
                button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='searchNotes();', tabindex='0') @@buscar
        #fila41.row
        #fila42.row

#fila4.row
#fila5.row
#fila6.row
#fila7.row
#fila8.row
#fila9.row
#fila10.row
#fila11.row
#fila12.row
#fila13.row
#fila14.row
#fila15.row
#fila16.row
#fila17.row
    #GRPM_El196.h2.col-sm-10
        h2 @@busquedaApuntes.resultadoBusqueda
drv-tabla-apuntes(
  mv-apuntes='noteList',
  mv-filtro='model', 
  mv-modo='mvModoTabla', 
  mv-usuario='userInfo',
  mv-buscar='')        