#fila172.row
  .grid-table-wrapper
      div.tabla.tabla-garantia(
        mp-grid="idGridProductor",
        mp-grid-model="productorListModel",
        mp-grid-data="listaProductores",
        mp-grid-options="productorListOptions")  
#fila173.row
#fila174.row
#fila175.row
#fila176.row
#fila177.row
#fila178.row
#fila179.row
#fila180.row
#fila181.row
#fila182.row.disableButtonsContainer
  #GRPM_El883.projectIconEnlace.col-sm-1
    a.hrefIconImg.payLoad(ng-click='addProducer()', style='text-decoration:none;', src='/commons/img/AltaR.png', openonwindow='true', windowwidth='800', windowheight='350')
      img.payLoad.srcImg(src='/commons/img/AltaR.png', openonwindow='true', windowwidth='800', windowheight='350')
    a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='addProducer()', openonwindow='true', windowwidth='800', windowheight='350', src='/commons/img/AltaR.png') @@alta
  #GRPM_El1070.projectIconEnlace.col-sm-1(class='btnEnable{{enableProdButtons}}')
    a.hrefIconImg.payLoad(ng-click='editProducer()', style='text-decoration:none;', src='/commons/img/modificarR.png', openonwindow='false')
      img.payLoad.srcImg(src='/commons/img/modificarR.png',  openonwindow='false')
    a.payLoad.hrefIconImg.inlineEditArea.textLoad( ng-click='editProducer()', openonwindow='false', src='/commons/img/modificarR.png') @@modificar
  #GRPM_El884.projectIconEnlace.col-sm-1(class='btnEnable{{enableProdButtons}}')
    a.hrefIconImg.payLoad( ng-click='deleteProducer()', style='text-decoration:none;', src='/commons/img/deleteRed_S.png', messagewindow='advertencia2', textwindow='¿Desea eliminar el productor seleccionado?')
      img.payLoad.srcImg(src='/commons/img/deleteRed_S.png', messagewindow='advertencia2', textwindow='¿Desea eliminar el productor seleccionado?')
    a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='deleteProducer()', messagewindow='advertencia2', textwindow='¿Desea eliminar el productor seleccionado?', src='/commons/img/deleteRed_S.png') @@eliminar
  #GRPM_El1065.AltoMaq.whiteSpace.payLoad.droppable.col-sm-7
    #fila227.row
#fila183.row
#fila184.row
#fila185.row
#fila186.row
#fila187.row
#fila188.row
#fila189.row
  #GRPM_El1069.AltoMaq.whiteSpace.payLoad.droppable.col-sm-11
    #fila228.row
#fila190.row
#fila191.row
#fila192.row
#fila193.row
#fila194.row
#fila195.row
#fila196.row
#fila197.row
#fila198.row
#fila199.row
#fila200.row
#fila201.row