#fila145.row
  #GRPM_El1112.h2.col-sm-9
    h2 @@altaApunte.importesTotalizados
#fila146.row
  #GRPM_El1082.well.payLoad.droppable.col-sm-12
    #fila202.row
      form(name='altaImportesForm', id='altaImportesForm', novalidate='')
        #GRPM_El1083.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12(ng-init="setImporteForm(altaImportesForm);")
          #fila209.row
            #GRPM_El1084.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila216.row
                #GRPM_El1085.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.iReajuste:
                #GRPM_El1086.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control(                     
                    autocomplete='off',
                    type='text',                      
                    name='iReajuste',
                    id='iReajuste',
                    ng-model='model.iReajuste',
                    mp-number="mp-number",
                    validate-field="{type: 'currency', required:'true'}",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")
            #GRPM_El1087.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila217.row
                #GRPM_El1088.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.iAnticipo:
                #GRPM_El1089.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control( 
                    autocomplete='off',                     
                    type='text', 
                    name='iAnticipo',
                    id='iAnticipo',
                    ng-model='model.iAnticipo',
                    mp-number="mp-number",   
                    validate-field="{type: 'currency', required:'true'}",                 
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                    
            #GRPM_El1216.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila224.row
                #GRPM_El1217.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.iRecobro:
                #GRPM_El1218.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control( 
                    autocomplete='off',                     
                    type='text',  
                    name='iRecobro',
                    id='iRecobro',
                    ng-model='model.iRecobro',
                    mp-number="mp-number",  
                    validate-field="{type: 'currency', required:'true'}",                  
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                    
          #fila210.row
            #GRPM_El1102.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila222.row
                #GRPM_El1103.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.primasGarantias:
                #GRPM_El1104.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    autocomplete='off', 
                    readonly='readonly', 
                    type='text', 
                    id='iTotalPrimaNeta',
                    name='iTotalPrimaNeta',
                    ng-model='model.iTotalPrimaNeta',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                    
                    
            #GRPM_El1096.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila220.row
                #GRPM_El1097.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad
                      | @@altaApunte.impuestos:
                #GRPM_El1098.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis(
                    autocomplete='off', 
                    readonly='readonly', 
                    type='text',
                    id='iTotalImpuesto',
                    name='iTotalImpuesto',                     
                    ng-model='model.iTotalImpuesto',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                    
            #GRPM_El1090.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila218.row
                #GRPM_El1091.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.descuentos:
                #GRPM_El1092.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    autocomplete='off', 
                    readonly='readonly', 
                    type='text', 
                    id='iTotalDescuento',
                    name='iTotalDescuento',                      
                    ng-model='model.iTotalDescuento',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                    
            #GRPM_El1099.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila221.row
                #GRPM_El1100.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.RECCS:
                #GRPM_El1101.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    autocomplete='off', 
                    readonly='readonly', 
                    type='text', 
                    id='iTotalRECCS',
                    name='iTotalRECCS',                                          
                    ng-model='model.iTotalRECCS',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                                        
            #GRPM_El1093.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila219.row
                #GRPM_El1094.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.recargos:
                #GRPM_El1095.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    readonly='readonly', autocomplete='off', 
                    type='text',
                    name='iTotalRecargo', 
                    id='iTotalRecargo', 
                    ng-model='model.iTotalRecargo',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                                        
            #GRPM_El1105.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila225.row
                #GRPM_El1106.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.LEACS:
                #GRPM_El1107.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    readonly='readonly', 
                    autocomplete='off', 
                    type='text',
                    id='iTotalLEACS',
                    name='iTotalLEACS',                     
                    ng-model='model.iTotalLEACS',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                                        
          #fila211.row
          #fila212.row
            #GRPM_El1108.jade.payLoad.droppable.form-group.simpleInput.col-sm-4
              #fila223.row
                #GRPM_El1109.inputLabel.text-right.col-sm-6
                  label
                    p.labelText.textLoad @@altaApunte.importeTotal:
                #GRPM_El1110.inputText.form-group.col-sm-5
                  input.payLoad.inlineEdit.valueLoad.form-control.dis( 
                    readonly='readonly',                     
                    autocomplete='off', 
                    type='text',
                    id='iTotalPrimaTotal', 
                    name='iTotalPrimaTotal', 
                    ng-model='model.iTotalPrimaTotal',
                    mp-number="mp-number",                    
                    mp-number-config="{mpNumberMask: true, mpNumberDecimalSep: ',', mpNumberGroupSep: '.', mpNumberDecimals: '2'}")                                        
          #fila213.row.wrap-btn-calcular
            #GRPM_El1215.projectIconEnlace.col-sm-1
              a.hrefIconImg.payLoad(ng-click='prepareCalcularApunte()', style='text-decoration:none;', src='/commons/img/calcularRojo.png', openonwindow='false')
                img.payLoad.srcImg(src='/commons/img//calcularRojo.png', openonwindow='false')
              a.payLoad.hrefIconImg.inlineEditArea.textLoad( ng-click='prepareCalcularApunte()', openonwindow='false', src='/commons/img/calcularRojo.png') @@altaApunte.calcular
          #fila214.row
          #fila215.row
    #fila203.row
    #fila204.row
    #fila205.row
    #fila206.row
    #fila207.row
    #fila208.row
#fila147.row
#fila148.row
#fila149.row
#fila150.row
#fila151.row
#fila152.row
#fila153.row
  #GRPM_El1113.h2.col-sm-9
    h2 @@altaApunte.importesGarantia
#fila154.row
  #GRPM_El1079.listElement.configEl.col-sm-12
    .grid-table-wrapper
        div.tabla.tabla-garantia(
          mp-grid="idGridGuarantee",
          mp-grid-model="guaranteeListModel",
          mp-grid-data="listaGarantias",
          mp-grid-options="guaranteeListOptions")
#fila155.row
#fila156.row
#fila157.row
#fila158.row
#fila159.row
#fila160.row
#fila161.row
#fila162.row
#fila163.row
#fila164.row.disableButtonsContainer
  #GRPM_El1211.projectIconEnlace.col-sm-1(class='btnEnable{{enableWarrantyButtons}}')
    a.hrefIconImg.payLoad(href='', ng-click='modeGuaranteeEditable()', style='text-decoration:none;', src='/commons/img/modificarR.png', openonwindow='false')
      img.payLoad.srcImg(src='/commons/img/modificarR.png', href='', openonwindow='false')
    a.payLoad.hrefIconImg.inlineEditArea.textLoad(href='', ng-click='modeGuaranteeEditable()', openonwindow='false', src='/commons/img/modificarR.png') @@modificar
  #GRPM_El1214.AltoMaq.whiteSpace.payLoad.droppable.col-sm-9
    #fila226.row
#fila165.row
#fila166.row
#fila167.row
#fila168.row
#fila169.row
#fila170.row
#fila171.row