#fila18.row
  .col-sm-12
    .grid-table-wrapper
        div.tabla.tamanioTablaBuscadores(
          mp-grid="idGridNote",
          mp-grid-model="noteTableModel",
          mp-grid-data="mvApuntes",
          mp-grid-options="noteTableOptions") 


#fila19.row
#fila20.row
#fila21.row
#fila22.row
#fila23.row
#fila24.row
#fila25.row
#fila26.row
#fila27.row
#fila28.row(ng-if="mvModo === 'operacionCopiar'", class='disableButtonsContainer')
    #GRPM_El247.btn-group-navigation.ABArea.droppable.exportPercent.col-sm-12
        #fila63.row
            #GRPM_El249.AltoMaq.whiteSpace.payLoad.droppable.col-sm-11
                #fila65.row
            #GRPM_El250.botonContext.resaltado.btn-group-form.col-sm-1
                button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-primary(type='button', ng-click='altaApunteForm()', tabindex='0') @@alta
        #fila64.row
    #GRPM_El257.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonModifApunte}}')
        a.hrefIconImg.payLoad(ng-click='modificarApunte()', style='text-decoration:none;')
            img.payLoad.srcImg(ng-src='/commons/img/modificarR.png')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='modificarApunte()') @@modificar
    #GRPM_El258.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonCopiarApunte}}')
        a.hrefIconImg.payLoad(ng-click='copiarApunte()', style='text-decoration:none;')
            img.payLoad.srcImg(ng-src='/commons/img/copiarR.png')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='copiarApunte()') @@copiar
    #GRPM_El265.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonAnularApunte}}')
        a.hrefIconImg.payLoad(href='', ng-click='anularApunte()', style='text-decoration:none;')
            img.payLoad.srcImg(ng-src='/commons/img/anularR.png')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad(href='', ng-click='anularApunte()') @@anular
    #GRPM_El259.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonDetalleApunte}}')
        a.hrefIconImg.payLoad(ng-click='detalleApunte()', style='text-decoration:none;')
            img.payLoad.srcImg(ng-src='/commons/img/detalleR.png')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='detalleApunte()') @@detalle
    #GRPM_El260.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonEmitirRecibo}}')
        a.hrefIconImg.payLoad(ng-click='emitirRecibo()', style='text-decoration:none;')
            img.payLoad.srcImg(ng-src='/commons/img/emitirR.png')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad(ng-click='emitirRecibo()') @@emitir
    #GRPM_El261.projectIconEnlace.col-sm-1(class='btnPermission btnEnable{{userPermissions.botonCambioFrac}}')
        a.hrefIconImg.payLoad(ng-click='openFractionation()', style='text-decoration:none;', openonwindow='true', windowwidth='900', windowheight='300', ng-disabled='true')
            img.payLoad.srcImg(ng-src='/commons/img/cambiaFracR.png', openonwindow='true', windowwidth='900', windowheight='300')
        a.payLoad.hrefIconImg.inlineEditArea.textLoad( ng-click='openFractionation()', openonwindow='true', windowwidth='900', windowheight='300', ng-disabled='true') @@cambioFraccionamiento
#fila29.row
#endPageApuntes.row                                       
