.modal-body
  #fila1.row
    div(style='text-align:center')
      img(src='/commons/img/ico_alerta.gif')
      br
      br
      p {{message}}
  #fila2.row
  #fila3.row
  #fila4.row
  #fila5.row
  #fila6.row
  #fila7.row
  #fila8.row
  #fila9.row
  #fila10.row
  #fila11.row
  #fila12.row
  #fila13.row
  #fila14.row
  #fila15.row
  #fila16.row
  #fila17.row
  #fila18.row
  #fila19.row
  #fila20.row
  #fila21.row
  #fila22.row
  #fila23.row
  #fila24.row
  #fila25.row
  #fila26.row
  #fila27.row
  #fila28.row
  #fila29.row
  #fila30.row
  #fila31.row
  #fila32.row
  #fila33.row
  #fila34.row
  #fila35.row
  #fila36.row
  #fila37.row
  #fila38.row
  #fila39.row
  #fila40.row
  #fila41.row
  #fila42.row
  #fila43.row
  #fila44.row
  #fila45.row
  #fila46.row
  #fila47.row
  #fila48.row
  #fila49.row
  #fila50.row
  #fila51.row
  #fila52.row
  #fila53.row
  #fila54.row
  #fila55.row
  #fila56.row
  #fila57.row
  #fila58.row
  #fila59.row
  #fila60.row
.modal-footer
  #GRPM_El69.btn-group-navigation.ABArea.droppable.exportPercent.col-sm-12
    #fila63.row
      #GRPM_El86.botonContext.btn-group-form.col-sm-6
        button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default.pull-left(type='button', ng-click='cancel()', tabindex='0') @@cancelar
      //-#GRPM_El87.AltoMaq.whiteSpace.payLoad.droppable.col-sm-8
        #fila65.row
      #GRPM_El85.botonContext.btn-group-form.col-sm-6
        button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='save()', tabindex='0') @@aceptar
    #fila64.row
  
