
.modal-header
  h1#modal-title.modal-title @@fraccionamiento.cambioFracionamiento

.modal-body

  #fila1.row
    #GRPM_El71.panel.payLoad.droppable.col-sm-12
      #fila66.row
      #fila67.row
        #GRPM_El72.form.form-horizontal.FormJade.payLoad.droppable.col-sm-12
          form(name='noteFormFractionation', novalidate='')
            #fila70.row
              #GRPM_El79.jade.combo.payLoad.droppable.form-group.col-sm-5
                #fila73.row
                  #GRPM_El80.inputLabel.text-right.col-sm-6
                    label
                      p.labelText.textLoad.needMN @@fraccionamiento.frFormaPago:
                  #GRPM_El81.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                    .note-dropdown(mp-options-list="select",
                        mp-options-list-model="model.frFormaPago",
                        mp-options-list-options="formaPago.COD_VALOR as formaPago.NOM_VALOR for formaPago in formaPagoList",
                        mp-options-list-description-attributes="{id: 'frFormaPago', name: 'frFormaPago', required: true}"))

              #GRPM_El82.jade.combo.payLoad.droppable.form-group.col-sm-7
                #fila72.row
                  #GRPM_El83.inputLabel.text-right.col-sm-6
                    label
                      p.labelText.textLoad.needMN  @@fraccionamiento.frMetodo:
                  #GRPM_El84.comboboxcontainer.clearfix.inputSelect.form-group.col-sm-6
                    .note-dropdown(mp-options-list="select",
                        mp-options-list-model="model.frMetodo",
                        mp-options-list-options="metodoReg.COD_VALOR as metodoReg.NOM_VALOR for metodoReg in metodoRegList",
                        mp-options-list-description-attributes="{id: 'frMetodo', name: 'frMetodo', required: true}"))  

            #fila71.row
      #fila68.row
      #fila69.row
  #fila2.row
  #fila3.row
  #fila61.row  
.modal-footer
  #GRPM_El69.btn-group-navigation.ABArea.droppable.exportPercent.col-sm-12
    #fila63.row
      #GRPM_El86.botonContext.btn-group-form.col-sm-6.col-lg-6
        button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default.pull-left(type='button', ng-click='cancel()', tabindex='0') @@cancelar
      //-#GRPM_El87.AltoMaq.whiteSpace.payLoad.droppable.col-sm-8
        #fila65.row
      #GRPM_El85.botonContext.btn-group-form.col-sm-6.col-lg-6
        button.payLoad.inlineEditArea.textLoad.textLoad.btn.btn-default(type='button', ng-click='accept()', tabindex='0') @@aceptar
    #fila64.row

   
  


