.container.main-container
    #fila0.row
      .alert.alert-danger(uib-alert='', dismiss-on-timeout='2000', ng-if="alert.show") {{alert.msg}}
    #fila1.row
    #fila2.row
        #GRPM_El4.h1.col-sm-9
            h1 @@busquedaApuntes.tituloBusquedaApuntes
    drv-busqueda-apuntes(      
      mv-usuario="userLife",
      mv-modo="aplicacionApuntes"
    )
div(mp-loading='gaiafrontend/img/spinner.gif')
#wrap-alert-notes(mp-alerts)
#end-main-container