body{
    overflow-y: auto;
    /*overflow-x: auto;*/
    overflow-x: hidden;
}

*.oculto {display: none !important;}
*.visible {
    display: inline !important;
}
*.BORDE {border: 1px solid red;}
*.BORDEZ {border: 1px solid blue;}



/*------ estilo configuracion elementos y listados -----*/
*.capaConfig img {
    cursor: hand;
}
*.capaConfig {
    z-index: 10000;
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background:url(../img/magic.png) repeat;
    /*overflow-y: auto !important;*/
}

*.magic {
    position: absolute;
    left: 250px;
    top: 5px;
    width: 600px;
    height: 741px;
    background:url(../img/fdConfig.png) repeat left top;
    /*overflow-y: auto !important;*/
}

*.configList {
    padding: 4px 7px 7px 6px;
    align: center;

}


*.configList table{
    width: 100%;

}
*.tablaConfig tHead td{
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana;
    background: #bcb3aa;
    /*height: 25px;*/
    padding: 6px;
    vertical-align: middle;

}
*.tablaConfig tHead{
    border: 1px solid #867969;
}

*.tablaConfig>tBody {
    color: #000000;
    font-size: 10px;
    background: #eddab9;
    text-align: left;
    border-left: 1px solid #867969;
    border-bottom: 1px solid #867969;


}

*.tablaConfig>tBody td {
    padding-left: 10px;
    border-bottom: 0px dashed #d3cec0;
    height: 20px;
    /*vertical-align: middle;**/
}
*.tablaConfig>tBody>button {
    margin-bottom: 5px;
}

/**.tablaConfig #configFilaAlto tBody,
*.tablaConfig #configFilaAlto tBody td{
    border:0 !important;
}*/

*.previewListado {
    width: 553px;
    height: 318px;
    margin-left: 2px;
    padding: 15px;
    overflow: auto;
    background: #f6f2e6;
}


/*#buttonsAreaMAPCont{float:right;width:100px;}*/
*.BAConfig {
    background: #bcb3aa;
    background:url(../img/fdBA.png) repeat 36px;
    height: 36px;
    width: 583px;
    margin-left: 2px;
    border-top: 1px solid #867969;
}
*.btConfigList{
    font-weight:bold;
    width:145px;
    height:40px;
    font-size: 11px;
    color: #8d1e04;
    font-family: Verdana;
    text-align: center;
    padding-right: 30px;
    cursor:pointer;
    border: 0px;
}


*.preview {
    background:url(../img/bt_Preview_v1.png) no-repeat -2px -3px;
    float: right;
}
*.anadir {
    background:url(../img/bt_generarElement_v2.png) no-repeat -2px -3px;
    float: right;
}
*.cancel {
    background:url(../img/bt_Cancel_v1.png) no-repeat 0px -3px;
    float: left;
    margin-left: 12px;
    padding-left: 32px;
}

*.C {text-align: center;}
*.D {text-align: right;}
*.I {text-align: left;}
*.Arr {vertical-align: text-top !important;}


*.W5 {width: 30px !important;}
*.W10 {width: 10%;}
*.W20 {width: 20% !important;}
*.W25 {width: 25% !important;}
*.W30 {width: 30% !important;}
*.W50 {width: 50% !important;}
*.W40 {width: 40%;}
*.W75 {width: 75%;}
*.W80 {width: 80%;}
*.W100 {width: 100%;}
*.W600px {width: 600px !important;}

*.sinBD {
    border-right: 0px solid !important;
}

*.CAB, *.TOT {
    border: 1px solid #9e9e9d;
    border-top: 1px solid #9e9e9d;
    width: 100% !important;
    overflow-X: hidden;
    background-color: #9fa8af !important;
    font-family:"Verdana";
    overflow-y: scroll;
}
*.TOT {
    border-top: 0px solid #9e9e9d;
}

*.CAB input {
    width: 80%;
    text-align: center;
    border: 0px dashed #4f5357;
    background-color: #9fa8af !important;
    margin-left: 5px !important;
    pointer-events:none;
}
*.CABD1 input, *.CABD2 input {
    width: 80%;
    text-align: center;
    border: 0px dashed #9e9e9d;
    background-color: #9fa8af !important;
    margin-left: 5px !important;
    pointer-events:none;

}
/**.CABD1, *.TOTD1 {
    float: left;
    width: 30% !important;
    border-top: 1px solid #9e9e9d;
    border-bottom: 1px solid #9e9e9d;
    overflow-X: hidden !important;
    overflow-Y: hidden !important;
}*/
*.TOTD1 {
    float: left;
    width: 30% !important;
    border-top: 1px solid #9e9e9d;
    border-bottom: 1px solid #9e9e9d;
    overflow-X: hidden !important;
    overflow-Y: hidden !important;
}
*.CABD1 {
    float: left;
    width: 30% !important;
    border-top: 1px solid #9e9e9d;
    /*border-bottom: 1px solid #9e9e9d;*/
    overflow-X: hidden !important;
    overflow-Y: hidden !important;
    box-shadow: 0px 20px 0px #9FA8AF;
}
*.CABD2, *.TOTD2 {
    width: 70% !important;
    border-top: 1px solid #9e9e9d;
    border-bottom: 1px solid #9e9e9d;
    overflow-X: hidden !important;

}

*.CABD2 td, *.CTD2 td, *.TOTD2 td{
    width: 120px;
}


*.CT {
    border-left: 1px solid #9e9e9d;
    border-right: 1px solid #9e9e9d;
    border-bottom: 1px solid #9e9e9d;
    width: 100% !important;
    overflow-X: hidden;
    overflow-y:hidden; /*para que no salga en paginado*/
}
*.CTD1{
    float: left;
    width: 30%;
    overflow-X: hidden !important;
    overflow-Y: hidden !important;
    border-bottom: 1px solid #9e9e9d;
    overflow-y:hidden; /*para que no salga en paginado*/
}
*.CTD2{
    width: 70% !important;
    /*overflow-X: auto !important;*/
    overflow-X: scroll !important;
    overflow-y:hidden; /*para que no salga en paginado*/
}
*.CTD1 table {
    border-left: 1px solid #9e9e9d;
}

*.scrollCB {
    width: 10px !important;
}

*.scrollCB .edit{
    display: none;
}

*.CABAutoScrollY{
    /*margin-right: 17px;
    Cambio*/
    overflow-Y: scroll;
    /*padding-right: 16px;*/
    scrollbar-face-color: #9fa8af;
    scrollbar-shadow-color: #9fa8af;
    scrollbar-highlight-color: #9fa8af;
    scrollbar-3dlight-color: #9fa8af;
    scrollbar-darkshadow-color: #9fa8af;
    background: #9FA8AF;
}
*.AutoScrollY{
    overflow-Y: auto;
}

/*.CABD2{
    overflow-Y: hidden;
}*/

*.fdListCab {
    background: url(../img/listado.png) #bcb3aa no-repeat 5px 10px !important;
    padding-left: 30px !important;
}

*.Wselec {
    /*width: 25px;*/
    float: left;
}

*.tablaListado {
    background: #ffffff;
    width: 100%;
    cursor: hand;
}
@-moz-document url-prefix() { /*para Firefox*/
    *.tablaListado {
        height: 34px;
    }
}

*.tablaListado tFoot{
    background: #9fa8af;
    text-align: right !important;
    font-weight: bold;
}
*.tablaListado tFoot input{
    background: #9fa8af;
    border: 0px dashed #4f5357 !important;
    text-align: right !important;
    font-weight: bold;
    width: 95%;
}

*.tablaListado td{
    /*border-bottom: 1px solid #9e9e9d;*/
    /*height: 25px !important;*/
    height: 27px !important;
    vertical-align: middle;


}
*.tablaListado .LV td{
    /*background: #000000 !important;*/
    height: 26.5px !important;
}
*.CAB tHead{
    text-align: center;
    font-size: 11px;
    cursor: hand;
    background-color: #9fa8af !important;
}
*.CAB tHead input {
    font-family: "Verdana" !important;
    background-color: #9fa8af !important;
    color: #000000;
    font-size: 13px !important;
}

*.TablaCBIzqCB_Busc .Wselec{
    background-color: #ffffff !important;
    font-style: italic  !important;
    font-size: 10px !important;
    color: #6f767c;
    text-align: left;
    border-radius:3px;
    padding-left: 2px;
}
*.CAB tHead td, *.TOT tFoot td{
    border-right: 1px solid #d7dade;
}
*.CABD1 tHead td, *.TOTD1 tFoot td{
    border-left: 1px solid #9e9e9d;
}


*.CABD1 tHead, *.TOTD1 tFoot{
    background-color: #9fa8af !important;
    text-align: center;
    font-size: 11px;
    cursor: hand;
}
*.CABD1 tHead td, *.TOTD1 tFoot td{
    /*border-right: 1px solid #9e9e9d;*/
    border-right: 1px solid #d7dade;
}
*.CABD2 tHead, *.TOTD2 tFoot{
    background-color: #9fa8af !important;
    text-align: center;
    font-size: 11px;
    cursor: hand;
}
*.CABD2 tHead td, *.TOTD2 tFoot td{
    border-right: 1px solid #d7dade;
}

.TOTD2{
    overflow-y: scroll;
}

*.tablaListado tHead.radio, *.tablaListado tFoot.radio{
    display: none;
}


*.edit{
    border: 0;
    background: #cecec6;
    text-align: center;
}

.magic .edit{
    background: #cecec6;
    border: 0px dashed #4f5357 !important;
    text-align: center;
}

/*#workingArea input.edit {
    border: 0px;
}*/
*.Fila td{
    border-right: 1px solid #d7dade;
}
*.LV td{
    border-right: 1px solid #d7dade;
}
*.Impar {
    background: #f7f1e4;
}
*.LV {
    border-bottom: 1px dashed #d3d3d3;
}

*.Seleccionada {
    background: #d5d7d8 !important;
}
thead .Seleccionada {
    background: #9fa8af !important;
}
*.Seleccionada  input.Wselec{
    /*background: none !important;*/
}
*.segTitTR{
    background: #dcdcd5 !important;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #6d6d6d;
    /*display: block;*/
}
*.segTit {
    border-bottom: 1px solid #6d6d6d;
    border-top: 1px solid #6d6d6d;
}
*.segTit  input.Wselec{
    width: 90% !important;
    border: 0px dashed #9e9e9d;
    background: #dcdcd5 !important;
    color: #3d4e88;
    display: block;
}
/*--CBIzq---*/
*.TablaCBIzqCB td{
    border-top: 1px solid #4f5357;
}

*.CBIzqCB{
    background: #ffffff !important;
}

*.CBIzq {
    background: #9fa8af !important;
    border-bottom: 1px solid #4f5357;
    vertical-align: top !important;
}

*.CBIzqCB input{
    width: 80%;
    /*border: 0px dashed #4f5357;*/
    border: 0px solid #4f5357;
    background: #ffffff !important;
    color: #3d4e88;
}
*.CBIzq input[type=text]{
    width: 70%;
    border: 0;
    background: #9fa8af !important;
    color: #3d4e88;
}
*.CBIzq input[type="radio"],
*.CBIzq input[type="checkbox"]{
    width:auto !important;
    float:left;
}
*.menuStyleList{
    height: 80px;
    border: 0px;
}
*.menuStyleList{
    background:url(../img/listadoXS.jpg) no-repeat left top;
    height: 80px;
    border: 0px;
}
#workingArea div.menuStyleList{
    background: none !important;
    width: auto;
    height: auto;
    position: absolute;
}

*.paginacion {
    /*width: 96%;  Sin fondo en la paginación*/
    /*width: 99%;*/
    width: 100%;
    color: #a0a0a0;
    text-align: center;
    /*margin: 10px 5px 5px 5px;  Sin fondo en la paginación*/
    margin: 0px;
    padding-top: 4px;
    padding-right: 10px;
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*background: #eeeeee;*/
    background: #9FA8AF;
    height:25px;
}
*.paginacion a{
    color: #555555;
    border: 1px solid #d3d3d3;
    background: #eeeeee;
    text-decoration:none !important;
    padding: 3px 6px 3px 6px;

}
*.paginacion a.on{
    color: #212121;
    border: 1px solid #aaaaaa;
    background: #FFFFFF;
    text-decoration:none;
    padding: 3px 6px 3px 6px;
}

*.gif {
    background: url(../img/magic.gif) repeat;
    position: absolute;
    height: 100%;
    width: 100% !important;
    cursor: hand;

    /*IMPORTANTE descomentar en el exportado
    width: 0px !important;
    height: 0px !important;
    */
}
*.W56px {
    width: 56px;
}
*.W75px {
    width: 75px;
}
*.W98px {
    width: 98px;
}

*.W112px {
    width: 112px;
}
*.W153px {
    width: 153px;
}


/* ********* Inicio onFocus botones *********  */
*.ABArea .botonContext a:focus{
    border: 1px dashed #eda409 !important;
}
/* ********* Fin onFocus botones  ********* */
/*-----PROPIO----*/
#zonaDere {
    background:#ffffff url("../img/zonaDere.png") repeat-y left top;
    height: 100% !important;
    position: fixed !important;
    Z-INDEX: 501 !important;
}

#Riesgo_fijo {
    position: fixed !important;
    Z-INDEX: 500 !important;
    background: #f1eada;
}
#zonaDere a{
    color: #ffffff;
    text-decoration:underline;
    text-align: left !important;
    width: 130px;
}
#zonaDere .labelText {
    color: #545454 !important;
    /*border: 1px solid #3ee80a !important;*/
    text-align: left !important;
    width: 130px;

}

/*#zonaDere .modTitExt {
    color: #e41b13;

    font-size:12px;
}
*/
#icosCabizq, #icosCabizq2{
    position: fixed !important;
    Z-INDEX: 999 !important;
}
#linkCab a {
    color: #ffffff !important;

}

#cabIco {
    background: #737373;
}
*.fijo {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
#linkCab {
    position: fixed !important;
}

.fondoColapOF p{color: #5c5c5c !important;}
.fondoColapOF {background:url(../img/fd_Acord_CBoff.gif) 100% 0px !important;color: #000000 !important;border:#ecece6 1px solid !important;}


/**      cambiar tamanio WorkingArea      **/
#moduloArea{

    position: absolute;
    left: 1150px !important;
    top: 470px !important;
    background-color: #e9d9b7;
    padding: 3px;
    border-right: 2px solid #d2c4a6;
    border-bottom: 2px solid #d2c4a6;
}

*.cajaArea{
    height:17px;
    width:60px;
    font-size:10px;
}
.inputSelect.workingEl select.dis, .inputCalendar.workingEl input.dis, .inputValueList.workingEl input.dis, .inputTextarea.workingEl textarea.dis {
    border: #e0e0e0 1px solid !important;
    background: #e8eaee !important;
    color: #5f5e5e !important;
    cursor:not-allowed;
}



/*Arreglos para iPaint, para utilización de gaia.css*/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/



/***********SOLO PARA IPAINT**********/
/*Héctor espacio para la barra de navegación*/
.container{
    /*margin-bottom: 50px;*/
}
@media (max-width: 768px) {
    .container{
        /*margin-bottom: 0px;descomentar cuando la barra de navegación no sea fija en responsive*/
    }
    .btn-group-navigation{
        margin-bottom: -5px;
    }
}
/*FIN Héctor espacio para la barra de navegación*/

/**header*/

.navbar-app h1{
    margin: 0px;
}

/****Visualización específica en menú*/
/*header*/

.contentMAE .mp-header.menuEl {

    position: relative;
    background-color: #ffffff !important;
    background: url(../img/headMenu.png) no-repeat !important;
}

.contentMAE .container-fluid {
    display: none;
}
[mp-navbar-filter] span.input-group-addon {
    display: inline-block;
    height: 28px;
    padding: 7px 10px;
    width: auto !important;
    border-radius: 20px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-left: 1px solid #BDBDBD !important;
    cursor: pointer;
    -webkit-transition: display 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: display 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-left: -15px;
    margin-top: -1px;
}

/*******TEXTOS********/
/*para que no se añada doble padding al div*/
/**/
div.h1, div.h2, div.h3, div.h4, div.h5 {
    /* margin-top: 0px !important;
     margin-bottom: 0px !important;*/

}
/******PANELES*****/
/*Como en el html no tenemos panel body en la estructura, hay que aplicarle el padding al panel */
/*.panel-body {*/
.panel{
    padding: 15px;
    padding: 15px 15px 5px;
}


/*colapsador*/
.panel-heading {
    background: transparent url("../img/fd_Acord_CBoff.gif") repeat scroll 100% 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 0px;
    cursor: pointer;
}
/*Colapsadores*/
.panel-default {
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.35);
    /*margin-bottom: 15px;*/
    background: #FFF none repeat scroll 0% 0%;
    padding: 0px 0px;
    margin-bottom: 15px;
}

.MCArea{/*iguala márgenes aplicados en gaia.css*/
    margin-right: 5px;
    margin-left: 5px;
}

/*Héctor colapsadores*/
/*Imagen colapsador cerrado*/
.panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren{
    height: auto !important;
}
/*Estilo para solucionar espacio en blanco que salia en el colapsador cuando estaba cerrado*/
.panel-heading i.panel-icon {
    position: relative;
    /*top: -30px;*/
    /*top: -22px;*/
    top: 5px;
    margin-bottom: -23px;/*Para que no muestre espacio en blanco al estar cerrado, sea cual sea el tamaño del colapsador*/
}

.panel-heading .panel-title a {
    padding: 4px 15px;/*Para que no muestre espacio en blanco al estar cerrado, sea cual sea el tamaño del colapsador en Firefox*/
}

.MCAreaTit{
    margin-left: -1.5px;
}

.panel-heading h4.panel-title a.accordion-toggle span {
    position: relative;
    top: 7px;
}

/**** Estilo para solucionar espacio en blanco que salia en el colapsador cuando estaba cerrado (este error se debe a una media query de bootstrap ) ******/
/*.panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-2, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-3, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-4, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-5, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-6, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-7, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-8, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-9, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-10, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-11, .panel-default.ng-isolate-scope.MCArea.payLoad.hasWorkingChildren.col-sm-12{
  float:none;
}*/

/*Fátima colapsador cerrado*/
/*.panel-default > .panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    height: 34px;
}*/
/*FIN Fátima colapsador cerrado*/


/*En I8-IE11 no se ven estos iconos con extensión .png, que es como están en gaia.css*/
.panel-heading i.panel-icon.is-closed {/*icono+*/
    background: transparent url("../img/_colapMAE_on.gif") no-repeat scroll right top !important;
}
.panel-heading i.panel-icon.is-open {/*icono-*/
    background: transparent url("../img/_colapMAE_off.gif") no-repeat scroll right top !important;
}
/*FIN Héctor colapsadores*/


/*Héctor altura de textarea en exportado HTML*/
.inputTextarea textarea{
    height: 100%;
    background: white;
}

/*Héctor Barra de navegación*/
/*.btn-group-form{
  width: auto;
  width: none;
}*/

/*Héctor campos obligatorios*/
label p.needMN:before {
    content: "*";
    display: inline;
    margin: -10px 0.3em 0 0 !important;
    /*color: #b62020;*/
    color: red;
}
/*FIN Héctor campos obligatorios*/

/*Héctor texto en negrita*/
.textBold {
    font-weight: bold;
    position: relative;
    /*top: -5px;*/
}
/*FIN Héctor texto en negrita*/

/*Héctor arreglos exportado Forms*/
.form-control{
    padding: 0px 4px;
}

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    top: -5px;
}

.form-group{
    margin-bottom: 3px;
}

.jade .inputText input{

}
.jade.combo{
    padding-left: 0px;
    /*margin-left: 3px; /*afecta al aspecto del exportado y tira abajo*/
}

.jade.combo p{
    margin-right: -4px;
}

.jade .comboboxcontainer.form-group{
    margin-left: -7px;
    position: relative;
    top: -5px;

}

.jade.combo select{
    margin-left: 10px;
    /*width: 103%;*/
    text-align: left;
    padding-right: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jade .inputValueList.form-group{
    margin-bottom: 0px;
    position: relative;
    top: -5px;
}

.jade .inputValueList {
    left:2px !important;
}

.jade .inputValueList input{
    margin-left: 2px;
}

.input-group[class*="col-"] {/*buscador, contra Bootstrap*/
    float: left;
}

.jade .inputMultifileUpload input{
    margin-left: 4px;
}

.jade.multipleRadio, .jade.multipleCheckbox{
    /*margin-left: -4px; /*afecta al aspecto del exportado y tira abajo*/
}

.jade.date{
    margin-left: 0px;
}

.jade .inputTextarea textarea{
    margin-left: -1px;
    width: 100%;
    resize: none;
    position: relative;
    top: 5px;
    margin-bottom: 6px;
}

.jade .inputMultifileUpload img{
    border-radius: 5px;
}

.calendarContainer.form-group{
    padding-right: 0px;
    position: relative;
    top:-6px;
}

.ui-datepicker-trigger {
    right: 0px;
    background-color: #000000;
}
.dis ~ .ui-datepicker-trigger {
    pointer-events: none;
    background-color: #CBCBCB;
}

.inputCheckbox label, .inputRadio label{
    min-width: 115px !important;
    width: 100%;
}

.inputCheckbox, .inputRadio{
    padding-top: 4px !important;
}

/*.inputLabel{
    margin-top: 4px;
}
*/
.jade .inputLabel, .jade label, .jade label p {
    margin: 0px;
}

input[type="radio"], input[type="checkbox"]{
    width: 14px;
}

/*FIN Héctor arreglos exportado Forms*/


/*Héctor nuevo estilo calendario*/
.calendarContainer .form-control{
    display: inline-block;
    margin-right: 0px;
    width: 78%;
    padding-left: 3px;
}

.ui-datepicker .ui-datepicker-prev span {
    background: url("../img/fleIzq.png") no-repeat;
}

.ui-datepicker .ui-datepicker-next span {
    background: url("../img/fleDcha.png") no-repeat;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-left: -5px;
}

#ui-datepicker-div .ui-widget-header {
    background: #6E757A;
    border-width: 0px;
}

#ui-datepicker-div {
    background: white;
    /*z-index: 2 !important;*/
    z-index: 9999 !important;
}

.ui-datepicker th {
    background-color: #6E757A;
    padding: 0px;
}

.ui-datepicker-title span {
    text-shadow: none;
    font-weight: normal;
}
.ui-datepicker-title:hover {
    background-color: #9E9E9E;
    border-radius: 5px;
    cursor: pointer;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default {
    background: white;
    color: #6E757A;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default {
    font-weight: normal;
}
#ui-datepicker-div .ui-datepicker-calendar a:hover{
    background-color: #C5C8CA;
    border-radius: 50%;
}

.ui-datepicker-calendar .ui-datepicker-current-day a.ui-state-active {
    color: white !important;
    background-color: #D61D04 !important;
    border: #D61D04;
    border-radius: 50% !important;
}

.ui-state-highlight {
    /*color: white !important;
    background-color: #1565C0 !important;
    border: #1565C0;
    border-radius: 50% !important;*/
}

#ui-datepicker-div .ui-datepicker-calendar a {
    line-height: 21px;
}
/*FIN Héctor nuevo estilo calendario*/



/*Héctor botones*/
@media (min-width: 768px)  {
    .botonContext button{
        width: 100%;
    }

    .btn {
        padding: 7px 0px;
        padding-right: 0px;
        padding-left: 0px;
    }


    .botonContext.col-sm-1 {
        width: 8.33333%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-2 {
        width: 16.66667%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-3 {
        width: 25%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-4 {
        width: 33.33333%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-5 {
        width: 41.66667%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-6 {
        width: 50%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-7 {
        width: 58.33333%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-8 {
        width: 66.66667%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-9 {
        width: 75%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-10 {
        width: 83.33333%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-11 {
        width: 91.66667%;
        /*float: right;*/
        margin-right: 0px;
    }
    .botonContext.col-sm-12 {
        width: 25%;
        /*float: right;*/
        margin-right: 0px;
    }



}



/*Héctor Ajustes visualización en responsive*/
@media (max-width: 768px)  {
    /*Héctor Responsive Etiqueta de campo en cualquier caso de alineación*/
    .jade .text-right, .jade .inputLabel {
        text-align: left !important;
        margin-bottom: -11px;
        margin-top: 10px;
    }

    .jade.date .inputLabel {
        margin-bottom: -10px;
    }

    .form-horizontal .form-group {
        margin-left: 6px;
        margin-right: 6px;
    }

    .jade .inputLabel p.labelText{
        margin: 0px 2px 15px;
    }

    .jade.combo .inputLabel p.labelText{
        margin: 0px 12px 15px;
    }

    .jade .inputText input {
        /*width: 102.5%;*/
        margin-left: -11px;
    }

    .jade .inputMultifileUpload{
        margin-right: 2px;
    }

    .jade .calendarContainer{
        margin-left: 0px;
        margin-right: 18px;
    }

    .jade .inputValueList input {
        margin-left: -10px;
        width: 102%;
    }

    .jade.multipleRadio p.labelText, .jade.multipleCheckbox p.labelText{
        margin: 0px 14px 15px;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        margin-left: -19px !important;
    }


    .jade .inputText {
        margin-left: 11px;
    }
    .jade .inputValueList{
        margin-left: 13px;
    }
    .jade .comboboxcontainer{
        margin-left: 7px;
    }

    .jade .inputMultifileUpload, .jade .inputTextarea{
        margin-left: 16px;
    }

    .jade.richText .inputTextarea{
        margin-left: 0px;
    }

    .jade.combo .inputLabel{
        margin-left: -5px;
    }

    .jade.simpleInput, .jade.simpleInput{
        /*margin-left: -5px; /*afecta al aspecto del exportado y tira abajo*/
    }

    select.textOut::-ms-expand {/*quita la flecha del select del navegador por defecto, quitado vemos la imagen nada más*/
        display: none;
    }


    .calendarContainer .form-control {
        width: 99%;
    }
    .ui-datepicker-trigger {
        right: -16px;
    }

    .jade.combo select {
        width: 101%;
    }

    .jade.combo select {
        /*margin-left: -1px;*/
    }

    .jade .inputMultifileUpload input {
        margin-left: -12px;
        width: 103%;
    }

    .jade .inputTextarea textarea {
        margin-left: -17px;
        width: 103.5%;
    }

    .jade.date .inputLabel label .labelText{
        margin-left: 2px;
    }

    .jade.multipleRadio .inputLabel, .jade.multipleCheckbox .inputLabel{
        margin-left: -12px;
    }

    /*Módulo espacio en blanco*/
    .AltoMaq{
        display: none;
    }
}

/*FIN Héctor Ajustes visualización en responsive*/


/*Héctor Ajustes visualización imagen richtextEditor*/
/*@media (max-width: 570px)  {*/
@media (max-width: 992px)  {
    .inputTextareaRichText  .divRichText{
        width: 100%;
        margin-right: 6px;
    }
    .inputTextareaRichText  .divRichText img.imgRichText{
        width: 100%;
        height: 100%;
    }

    .jade.textarea.richText .divRichText{
        width: 100%;
        margin-right: 6px;
    }
    .jade.textarea.richText .divRichText img.imgRichText{
        width: 100%;
        height: 100%;
    }


}
/*FIN Héctor Ajustes visualización imagen richtextEditor*/




/*Héctor tipo de campo deshabilitado en gaia.css input[disabled]*/
.dis{
    cursor: not-allowed !important;
    opacity: 1 !important;
    background: #E8EAEE none repeat scroll 0% !important;
}
.dis:hover{
    cursor: not-allowed !important;
}

.jade .comboboxcontainer .dis{
    background-image: url("../img/arrow-drop-downDesh.png") !important;
    background-repeat:no-repeat !important;
    background-position:right top !important;
}

.jade .comboboxcontainer .dis:hover{
    cursor: not-allowed !important;
}

select.dis, button.dis, .inputValueList input.dis~span, .textLink a.dis{
    pointer-events: none;
}

a.dis{
    cursor: not-allowed !important;
    background:none !important;
}

.botonContext button.dis{
    border: 1px solid rgb(232, 234, 238) !important;
}

/*FIN Héctor Funcionalidad radios tipo de campo*/

/*Héctor estilo texto de salida textOut, aplicado en gaia.css con input[readonly]*/
.textOut{
    border: none;
    background: none !important;
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0px;
    pointer-events: none;
}

.textOutJade{
    height: 18px;
}

.cuentaC.textOutJade .iban1, .cuentaC.textOutJade .iban2{
    margin-right: -11px;
}

.cuentaC.textOutJade .iban4{/*con name lectura*/
    margin-right: -11px;
}

.jadeOut.cuentaC.textOutJade .iban4{
    margin-right: -20px;
}

@media (max-width: 768px) {
    .textOutJade{
        height: 40px;
    }

    .cuentaC.textOutJade{
        height: auto;
    }

    .textOut {
        height: 14px;
    }

}

textarea.textOut{
    pointer-events: visible;
    cursor:pointer !important;
}

select.textOut{
    pointer-events: none;
}

.inputText input.textOut{
    margin-top: 0px;
}


.textOut::-webkit-input-placeholder{//(Safari, Google Chrome, Opera 15+) and Microsoft Edge
color:black;
}
.textOut:-moz-placeholder{ //Firefox 4 to 18
color:black;
}
.textOut::-moz-placeholder{ //Firefox 19+
color:black;
}
.textOut:-ms-input-placeholder{ //Explorer 10 and 11
color:black;
}

.textOutBold{
    font-weight: bold;
}

.textOut ~ img.ui-datepicker-trigger{
    display:none;
}
.textOut ~ span button{
    display:none;
}

/*FIN Héctor estilo texto de salida textOut


/*Héctor Componente editor texto enriquecido*/
.jade.textarea.richText .inputTextarea{
    margin-top: -10px;
}

.jade.textarea.richText .inputTextarea textarea{
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 2px solid #efefef;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    resize:vertical;
}

.divRichText{
    width: 100%;
    height: 70px;
    background-color: #efefef;
}

.divRichText {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;

}

.inputTextareaRichText textarea{
    resize:vertical;
    background: white;
}

/*FIN Héctor Componente editor texto enriquecido*/


/*Héctor igualar texto color texto contenido en inputs*/
input::-moz-placeholder{/*para Firefox*/
    color: #555555 !important;
}
/*FIN Héctor igualar texto color texto contenido en inputs*/


/*Héctor alto de módulo espacio en blanco*/
.AltoMaq .row{
    height: 30px;
}
/*FIN Héctor alto de módulo espacio en blanco*/


/*Héctor ajustes exportado HTML en elementos formulario*/


/*FIN Héctor ajustes exportado HTTML en elementos formulario*/


/*Héctor Icono-enlace alineación*/
.projectIconEnlace img{
    display:block;
    margin:0 auto 0 auto ;
}
.projectIconEnlace a{
    display:block;
    text-align: center;
}

.projectIconEnlaceIzquierda img{
    display:inline !important;
    margin:0 auto 0 auto ;
}
.projectIconEnlaceIzquierda a{
    display:inline !important;
    text-align: center;
}
.projectIconEnlaceIzquierda img{
    display:inline !important;
    margin:0 auto 0 auto ;
}

.projectIconEnlaceDerecha img{
    display:inline !important;
    margin:0 auto 0 auto ;
    float: right;
}
.projectIconEnlaceDerecha a{
    display:inline !important;
    text-align: right;
    float: right;
}
/*FIN Héctor Icono-enlace alineación*/

/*Héctor Barra de navegación*/
.btn-group-navigation{
    min-height: 43px;
}
/*FIN Héctor Barra de navegación*/

/*Botones dentro de Barra de navegación (estilos de btn-navigation)*/
.btn-group-navigation .botonContext button.btn-default{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjUyNTIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #525252));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #525252);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #525252);
    background-image: linear-gradient(rgba(255, 255, 255, 0), #525252);
    color: #fff;
    background-color: #565656;
    border-color: #6f767c;
}

.btn-group-navigation .botonContext button.btn-default.dis, .btn-group-navigation .botonContext button.btn-primary.dis{
    color: #ABADAF;
    border-color: #6f767c;
}

.btn-group-navigation .botonContext button.btn-default:hover,.btn-group-navigation .botonContext button.btn-default:focus,.btn-group-navigation .botonContext button.btn-default:active{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTNlM2UiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #3e3e3e));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #3e3e3e);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #3e3e3e);
    background-image: linear-gradient(rgba(255, 255, 255, 0), #3e3e3e);
    color: #fff;
    background-color: #424242;
    border-color: #52575c;
}
/*FIN Botones dentro de Barra de navegación (estilos de btn-navigation)*/


/*Héctor elemento de comentarios*/
.draftComment{
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.35);
    box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.35);
}

.draftComment.collapsed{
    width:auto;
    height: auto;
}

.noVisible {
    display: none !important;
}

@media (max-width: 992px) {
    .draftComment{
        height: auto !important;
        width: auto !important;
    }
}
/*Héctor elemento de comentarios*/

/*Héctor IE11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {/* IE10+ CSS styles*/
    select::-ms-expand {/*quita la flecha del select del navegador por defecto, quitado vemos la imagen nada más*/
        display: none;
    }
}
/*FIN Héctor IE11*/


/*Héctor arreglos sobreescritos*/
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -10px;
}

/*FIN Héctor arreglos sobreescritos*/



/*Fátima Arraglos*/

/*Fondo listado con 2 columnas (cuando es LV)*/
table {
    /*max-width: 100%;*/
    max-width: none;
    border-collapse: collapse;
}
/*Fondo listado con 2 columnas (cuando es LV)*/

/*Padding masa well*/
.well {
    border-radius: 5px;
    padding: 25px 15px 0px 15px;
    margin-bottom: 15px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 2px solid #c1c2bd;
    border-top: 1px solid #f1eee7;
    background: #f9f6ef;
}

/*FIN Padding masa well*/

/*FIN Fátima



/*Héctor Iconos edición directa listado*/

.W30.actionEdit, .W30.actionSave, .W30.actionDiscard, .W30.actionDelete  {
    width: 26px !important;
    height: 23.9px !important;
    background-position:0px -2px;
}

span.W80{
    margin-left: 83px;
}

/*input.W80{
    position: relative;
    left:25px;
}*/

/*.tablaListado tr td{
    text-align: center;
}
*/

/*FIN Héctor Iconos edición directa listado*/


/*Héctor botones edición directa Añadir, Copiar y Pegar listado*/
.btn-icon-before-new, .btn-icon-before-copy, .btn-icon-before-paste{
    padding-left:30px;
    padding-right:30px;
    margin-bottom: 11px;
}
/*FIN Héctor botones edición directa Añadir, Copiar y Pegar listado*/




/*Héctor arreglo alineación textos OJO, alineado frente a otros elementos, como los formularios, saltan de línea, por eso está comentado*/

/*.h1 h1 {
    position:relative;
    top: 13px;
}
.h2 h2 {
    position:relative;
    top: 16px;
}
.h3 h3 {
    position:relative;
    top: 17px;
}
.h4 h4 {
    position:relative;
    top: 17.5px;
}
.h5 h5 {
    position:relative;
    top: 20.5px;
}
.textBold p{
     position:relative;
     top: 18.5px;
}*/

h1, .h1, h2, .h2, h3, .h3 {/*Contra estilo Bootstrap*/
    margin-top: 0px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
}

/*FIN Héctor arreglo alineación textos*/



/*Héctor Menú cabecera*/

#GPRM-Menu .container{
    margin-bottom: 20px;
    margin-top:20px;
}

[mp-navbar-filter] ul li ul.dropdown-menu{
    top: auto;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1001;
    min-width: 10em;
    max-width: 20em;
}

[mp-navbar-filter] ul li a {
    border: 0px !important;
}

/*FIN Héctor Menú cabecera*/

/*Héctor listados edición directa*/
.CTD1 table[editd="true"] thead tr td:first-child {
    min-width: 131px !important;
}

.CT table[editd="true"] thead tr td:first-child, .CAB table[editd="true"] thead tr td:first-child{
    width: 18% !important;
}


@-moz-document url-prefix() { /*para Firefox*/
    .CTD1 table[editd="true"] thead tr td:first-child {
        min-width: 114px !important;
    }

    .CT table[editd="true"] thead tr td:first-child, .CAB table[editd="true"] thead tr td:first-child{
        width: 18% !important;
    }

}

@media screen and (min-width:0\0) { /*para IE11*/
    .CTD1 table[editd="true"] thead tr td:first-child {
        min-width: 114px !important;
    }

    .CT table[editd="true"] thead tr td:first-child, .CAB table[editd="true"] thead tr td:first-child{
        width: 18% !important;
    }
}

.CTD1 .filaFija>td:first-child{
    min-width: 130px !important;
}

.CT .filaFija>td:first-child, .CAB .filaFija>td:first-child{
    width: 18% !important;
}

.CTD2 tr, .CTD1 tr{
    height: 27px;
    /*height: 25px;*/
}

table[editd="true"] thead .TablaCBIzqCB td:first-child input, table[editd="true"] thead .TablaCBIzqCB_Busc td:first-child input, table[editd="true"] thead tr:first-child td:first-child input {
    display: none;
}

.editDTot table tfoot tr td:first-child input {
    display: none;
}

table[editd="true"] thead tr td:first-child{
    min-width: 130px !important;
}

.editDTot table tfoot tr td:first-child{
    min-width: 130px !important;
}

/*FIN Héctor listados edición directa*/



/*Héctor New tabs*/
ul.tabSet li:first-child{
    margin-right: -2px;
}

.MPAreaContainer {
    box-shadow: 0 1px 0px #ddd;
}
/*FIN Héctor New tabs*/


/*Héctor bordes click en Chrome*/
div{
    outline: 0;
}
/*FIN Héctor bordes click en Chrome*/



/*Héctor contra gaia.css*/
.modal-container .nodal-header h1, .h1 {
    margin-left: 0px;
}

.ui-datepicker-trigger {
    right: 0;
    cursor: pointer;
    top: -1px;
    position: relative;
    left: 1px;
}

.panel-heading .panel-title a {
    font-size: 12px;
}
/*FIN Héctor contra gaia.css*/

/*Héctor Calendario <992px*/
@media (max-width:992px) {
    .ui-datepicker-trigger {
        position: relative;
        top: -25px;
        left: 100%;
    }

    .calendarContainer .form-control {
        width: 100%;
    }
}

/*FIN Héctor Calendario <992px*/


/*Héctor título pestañas en IE11*/
@media screen and (min-width:0\0) { /*para IE11*/
    li.tab-title, li.active.tab-title, li.active.tab-title a, li.active.tab-title a:hover, li.active.tab-title a:link, li.tab-title a.active:hover, li.tab-title a.active:active, li.tab-title a.active:visited{
        margin-bottom: -3px;
    }
}
/*FIN Héctor título pestañas en IE11*/


/*Héctor Listados, elimina scroll en Y cuando está paginado para alinear cabecera + contenido + filas totales (nueva clase incorporada para ello "noScrollY")*/
.noScrollY {
    overflow-y:hidden !important;
}
/*Héctor Listados, elimina scroll en Y cuando está paginado para alinear cabecera + contenido + filas totales (nueva clase incorporada para ello "noScrollY")*/


/*Héctor componente cuenta corriente cuentaC*/
.cuentaC .iban1{
    width: 30px;
    margin-right: -10px;
}
.cuentaC .iban2{
    width: 30px;
    margin-right: 3px;
}
.cuentaC .iban4{
    width: 42px;
    margin-right: 3px;
}

.cuentaC.jadeOut .posIban1{
    position: relative;
    left: 0px !important;
}
.cuentaC.jadeOut .posIban2{
    position: relative;
    left: 0px !important;
}
.cuentaC.jadeOut .posIban3{
    position: relative;
    left: 10px !important;
}
.cuentaC.jadeOut .posIban4{
    position: relative;
    left: 21px !important;
}
.cuentaC.jadeOut .posIban5{
    position: relative;
    left: 31px !important;
}
.cuentaC.jadeOut .posIban6{
    position: relative;
    left: 41px !important;
}

@media (max-width:992px) {
    .cuentaC.jadeOut .posIban1,
    .cuentaC.jadeOut .posIban2,
    .cuentaC.jadeOut .posIban3,
    .cuentaC.jadeOut .posIban4,
    .cuentaC.jadeOut .posIban5,
    .cuentaC.jadeOut .posIban6{
        position: relative;
        left: 0px !important;
    }
}
/*FIN Héctor componente cuenta corriente cuentaC*/


/*Héctor componente direccion, ajustes*/
.direccion .jade .inputLabel>label>p{
    /*margin-left: -5px;*/
}
.direccion .jade .inputLabel>label>p.textOutBold{
    /*margin-left: -11px;*/
}
.direccion .jade .inputLabel>label>p.needMN{
    /*margin-left: -22px;*/
}

/*FIN Héctor componente direccion, ajustes*/


/*Héctor Líneas sobre botones onFocus en Firefox quitadas*/
button::-moz-focus-inner {/*for Firefox*/
    border: 0;
}
/*FIN Héctor Líneas sobre botones onFocus en Firefox quitadas*/



/*Héctor Módulo include RWD*/
.RWD{
    margin-top: -26px;
    margin-bottom: -50px;
}

.RWD .container{
    width:100%;
}

@media (max-width: 768px) {
    .RWD {
        margin-top: 14px;
    }
}

/*Héctor Includes controlados*/
#cabeceraInclude{/*espacio en index entre cabecera y contenido del main*/
    height: 0px;
    margin-bottom: 45px;
    margin-top: -5px;
}
#contenidoInclude{
    top: -40px;
    margin-bottom: -70px;
}
/*#pieInclude{
    margin-top: -76px;
}*/

@media (max-width: 768px) {
    #contenidoInclude{
        top: 0px;
        margin-bottom: 0px;
    }
    #cabeceraInclude .mp-header .navbar-collapse.collapse.in{
        margin-top: 18px;
    }
    #pieInclude{
        margin-top: 0px;
    }
}

/*Héctor FIN Includes controlados*/

/*FIN Héctor Módulo include RWD*/



/*Héctor contenido de menú de summary*/
@media (min-width: 768px) {
    #GPRM-Menu .textLink{
        width: 100%;
    }
}
/*FIN Héctor contenido de menú de summary*/

h1 {
    color: red;
}


h1 {
    color: red;
}



/* BEGIN JGrid table scrolling to specific coulumn */

.ui-jqgrid-htable #idGridNote_cb input{
  display: none;
}

.frozen-bdiv {
  pointer-events: none;
}

.grid-table-wrapper{
  margin-bottom: 15px;
}

.grid-table-wrapper div.ui-jqgrid-bdiv{
  max-height: 267px
}

.grid-table-wrapper .frozen-div{
  overflow: hidden;
}

/* END JGrid table  */

/* modals */
.modal-fractionation .modal-dialog{
  max-width: 47%;
}

.modal-cancel-notes .modal-dialog{
  max-width: 22%  
}

.modal-alta-apunte .modal-dialog{
  max-width: 35%  
}

.frozen-bdiv.ui-jqgrid-bdiv{
  top: 22 !important
}

.modal-dialog .botonContext button{
  width: inherit;
  min-width: 60px;
}

/* BEGIN alert */
.mp-alerts{  
  bottom: -25px;
}

.mp-alerts .group-alert{
  max-height: 100px;
}
/* END alert */

/* BEGIN dropdown Company */
.note-dropdown .validable.col-sm-10{
  width: 100%
}
/* END dropdown Company */

#GRPM_El246{
  padding-right: 15px
}

/* Datepicker */
.timeDatepicker .datepicker table td button.btn.btn-default span, 
.timeDatepicker .datepicker table thead tr th.dow.text-center{
  font-size: 11px;
}
/* Datepicker */

.ui-jqgrid-htable tr th .ui-jqgrid-sortable{
  font-weight: bold
}

/* begin alert modal */
.modal-dialog .container{
  width: auto ;
  margin-bottom: 0px;
  margin-top: 40px;
}

.modal-dialog .mp-alerts{
  z-index: auto;
}

#wrap-alert-notes .group-alert{
  /*z-index: 999998;*/
}

#wrap-alert-notes{
  /*z-index: inherit !important;*/
  /*height: 100px;*/
  bottom: 55px;
}
/* end alert modal */

/* beging button actions  */
.disableButtonsContainer .btnEnablefalse a{  
  text-decoration: none;  
  cursor: not-allowed;
  opacity: 0.6;  
}

.disableButtonsContainer .btnEnablefalse a:hover { 
  color: #b62020; 
}

.note-dropdown{
  margin-left: 5px;
  /*width: 155px*/

}

.altaApunteForm .note-dropdown{
  width: 155px;
}

.combo-status-note{
  margin-left: 2px !important
}
/* end button actions  */


/* Begin alta apunte */

.wrap-alta-textarea .inputTextarea textarea{
  height: auto
}

#gbox_idGridProductor .ui-jqgrid-bdiv, #gbox_idGridAltaApunte .ui-jqgrid-bdiv{
  overflow: hidden;
}

/* END alta apunte*/

.main-container{
  margin-bottom: 12% 
}

.wrap-btn-calcular{
  margin-bottom: 10px
}

.has-error .validable{
  padding-right: 0px !important
}

.error-alert.ng-scope{
  display: none !important
}

.has-error .form-control{
  border: 1px solid #c8cbcd !important;
}

.form-control:focus, span.combobox:focus{
  border-color: #f7bd41 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 189, 65, 0.6) !important
}

.btn-group-navigation{
    /*z-index: 999999*/
}

.alerts-container{
  display: inline
}
